<div class="container-fluid">
  <span
    class="business-title mb-3"
    [routerLink]="['/superAdmin/business/units']"
    >{{ this.businessUnitName }}</span
  >
  <div class="dashboard-container mt-3">
    <div class="stats-cards mt-2">
      <div class="card blue">
        <div class="card-image">
          <img src="assets/Images/dashboard/cow.jpg" alt="Cow" />
        </div>
        <div class="card-content">
          <h2>618</h2>
          <p>Fresh</p>
        </div>
      </div>
      <div class="card green">
        <div class="card-image">
          <img src="assets/Images/dashboard/cow1.jpeg" alt="Pregnant" />
        </div>
        <div class="card-content">
          <h2>245</h2>
          <p>Pregnant</p>
        </div>
      </div>
      <div class="card red">
        <div class="card-image">
          <img src="assets/Images/dashboard/dry.jpg" alt="Non Pregnant" />
        </div>
        <div class="card-content">
          <h2>36</h2>
          <p>Dry Off</p>
        </div>
      </div>
      <div class="card calf">
        <div class="card-image">
          <img src="assets/Images/dashboard/calf.png" alt="Schedule" />
        </div>
        <div class="card-content">
          <h2>55</h2>
          <p>Calves</p>
        </div>
      </div>
      <div class="card orange">
        <div class="card-image">
          <img src="assets/Images/dashboard/cow2.jpeg" alt="Schedule" />
        </div>
        <div class="card-content">
          <h2>13</h2>
          <p>Today <br />Schedule</p>
        </div>
      </div>
      <div class="card sky">
        <div class="card-image">
          <img src="assets/Images/dashboard/heifers.png" alt="Schedule" />
        </div>
        <div class="card-content">
          <h2>19</h2>
          <p>Heifers</p>
        </div>
      </div>
      <div class="card yellow">
        <div class="card-image">
          <img src="assets/Images/dashboard/lactcating.png" alt="Schedule" />
        </div>
        <div class="card-content">
          <h2>87</h2>
          <p>Lacticating</p>
        </div>
      </div>
      <div class="card pink">
        <div class="card-image">
          <img src="assets/Images/dashboard/Inseminated.png" alt="Schedule" />
        </div>
        <div class="card-content">
          <h2>57</h2>
          <p>Inseminated</p>
        </div>
      </div>
      <div class="card cgreen">
        <div class="card-image">
          <img src="assets/Images/dashboard/calving.png" alt="Schedule" />
        </div>
        <div class="card-content">
          <h2>2</h2>
          <p>
            Close to <br />
            Calving
          </p>
        </div>
      </div>
    </div>

    <!-- Tables and Chart -->
    <div class="tables">
      <div class="table">
        <h3>Figures</h3>
        <table>
          <tr>
            <td>Current Females</td>
            <td>584</td>
          </tr>
          <tr>
            <td>Current Males</td>
            <td>34</td>
          </tr>
          <tr>
            <td>Total Animals</td>
            <td>909</td>
          </tr>
          <tr>
            <td>Milking</td>
            <td>230</td>
          </tr>
          <tr>
            <td>Dry</td>
            <td>32</td>
          </tr>
        </table>
      </div>
      <div class="chart-container">
        <canvas id="lactationChart"></canvas>
      </div>
      <div class="chart-container mt-5">
        <canvas id="dailyTasksChart"></canvas>
      </div>
      <div class="milk-production-section">
        <div class="milk-production-column">
          <div class="alt-dropdown">
            <p-select
              [options]="periodOptions"
              [(ngModel)]="selectedPeriod"
              placeholder="Select Period"
              (onChange)="onPeriodChange($event)"
              appendTo="body"
            >
            </p-select>
          </div>
          <div class="chart-container">
            <canvas id="milkProductionChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
