.login-container {
  display: flex;
  height: 100vh;
  background-color: #eaf0f6;
  overflow: hidden;
}
.login-image {
  flex: 1;
}

.login-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-form {
  flex: 1;
  background-color: #dbe8f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  min-height: 100vh;
  overflow-y: auto;
}

.logo img {
  width: 150px;
  height: 150px;
  // margin-bottom: 1rem;
  margin-top: 2rem;
}

form {
  width: 100%;
  max-width: 600px;
}

/* Responsive for small screens */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    min-height: 100vh;
    overflow: auto;
  }

  .login-image {
    display: none;
  }
  .login-form {
    padding: 1rem;
  }
}
//

/* ---------- HEADERS ---------- */
.heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 32px;
  color: #03192c;
  text-align: center;
  margin-bottom: 25px;
}
.heading1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #03192c;
  text-align: left;
  margin-bottom: 10px;
}
// lable
.lable {
  font-family: "Gotham", sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #1e1e1e;
}

.subtitle {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-sub);
  text-align: center;
  margin-bottom: 1.75rem;
}

/* ---------- FORM ---------- */

// .text-input {
//   font-family: "Montserrat", sans-serif;
//   border: 1px solid #e8ddf8;
//   height: 45px;
//   border-radius: 6px;
//   background-color: white;
//   font-size: 16px;
//   font-weight: 500;
//   line-height: 45px;
//   text-align: left;
//   color: #000;
//   padding-left: 8px;
//   width: 100%;
//   outline: none;
// }
.show-password-icon {
  position: absolute;
  right: 10px;
  top: 22px;
  cursor: pointer;
}

/* ---------- BUTTON ---------- */
.btn-sign {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  transition: background 0.15s;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  border: none;
  outline: none;
}
.input-felid {
  width: 100%;
  height: 45px;
  background-color: rgba(255, 255, 255, 0.7) !important;
  padding: 0 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  color: #4079b0;
  outline: none;
  border: 1px solid #4079b080;
  border-radius: 10px;
  // opacity: 0.7;
}
.text-input::placeholder {
  opacity: 0.7;
  color: #4079b0;
}
.reg-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #4079b0;
  text-align: center;
  margin-bottom: 25px;
}
.alt-dropdown {
  .p-select {
    border: 1px solid #4079b080 !important;
    border-radius: 10px !important;
    color: #4079b0 !important;
    width: 100%;
    height: 45px !important;
    align-items: center !important;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7) !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    font-family: "Montserrat", sans-serif;
  }
}
::ng-deep .alt-dropdown .p-placeholder {
  opacity: 0.7;
  color: #4079b0 !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  font-family: "Montserrat", sans-serif;
}
::ng-deep .alt-dropdown .p-dropdown-label,
::ng-deep .alt-dropdown .p-inputtext,
::ng-deep .alt-dropdown .p-select-label {
  color: #4079b0 !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  font-family: "Montserrat", sans-serif;
}
