<div class="container-fluid">
  <div class="d-pointer">
    <span class="breadcrumb" [routerLink]="['/superAdmin/business/units']"
      >Dairy Farm /
    </span>
    <span class="breadcrumb-bold">&nbsp;Animal Vaccination Detail</span>
  </div>
  <!-- User Header -->
  <div
    class="header-card d-flex align-items-center justify-content-between mb-4"
  >
    <div class="heading mb-0" style="color: #4079b0 !important">
      DAIRY FARM VACCINATION
    </div>
  </div>
  <!-- Customer Details -->
  <div
    class="d-flex justify-content-between align-items-center"
    style="margin-top: 70px"
  >
    <span class="heading" style="color: #4079b0 !important">
      Vaccination Record Detail
    </span>
    <span *ngIf="isReadOnly" (click)="isReadOnly = false">
      <button class="edit-btn">EDIT</button>
    </span>
    <span *ngIf="!isReadOnly" class="d-flex justify-content-end gap-4">
      <button (click)="discardChanges()" type="button" class="btn-discard">
        Discard
      </button>
      <button
        type="button"
        (click)="
          editLiveStockModel.valid && !editLoading
            ? editLiveStockDetail()
            : null
        "
        [ngClass]="{
          'btn-save': editLiveStockModel.valid && !editLoading,
          'btn-disable': editLiveStockModel.invalid || editLoading
        }"
      >
        Save &nbsp;
        <span
          *ngIf="editLoading"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
      </button>
    </span>
  </div>
  <form>
    <div class="row g-3 align-items-end mt-4">
      <div class="col-md-4 mb-4 position-relative">
        <span class="label1">ANIMAL ID</span>
        <div class="alt-dropdown" [ngClass]="{ 'input-disable': isReadOnly }">
          <p-select
            [options]="businessUnitTypes"
            [(ngModel)]="businessUnitId"
            name="businessUnitId"
            optionLabel="type"
            optionValue="id"
            [showClear]="true"
            placeholder="Animal "
          />
        </div>
      </div>
      <div class="col-md-4 mb-4 position-relative">
        <span class="label1">VACCINE NAME</span>
        <input
          type="text"
          class="input-felid"
          [ngClass]="{ 'input-disable': isReadOnly }"
          placeholder="Enter vaccine name..."
        />
      </div>
      <div class="col-md-4 mb-4">
        <span class="label1">DATE GIVEN</span>
        <input
          type="date"
          class="input-felid custom-date"
          [ngClass]="{ 'input-disable': isReadOnly }"
          placeholder="Enter date given..."
        />
      </div>
      <div class="col-md-4 mb-4">
        <span class="label1">NEXT DUE DATE</span>
        <input
          type="date"
          class="input-felid custom-date"
          [ngClass]="{ 'input-disable': isReadOnly }"
          placeholder="Enter next due date..."
        />
      </div>
      <div class="col-md-12 mb-12">
        <span class="label1">NOTE</span>
        <textarea
          type="text"
          class="input-felid my-input"
          [ngClass]="{ 'input-disable': isReadOnly }"
          placeholder="Enter note..."
        ></textarea>
      </div>
    </div>
  </form>
</div>
<p-toast />
