<div class="container-fluid">
  <span class="d-flex flex-wrap justify-content-between">
    <span class="heading mt-4" style="color: #4079b0 !important">
      Health History
    </span>
    <div class="d-flex align-items-center gap-5">
      <button
        (click)="visible = true"
        class="btn mt-4 mb-3"
        style="min-width: 120px"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          viewBox="0 0 24 24"
        >
          <g
            fill="none"
            stroke="currentColor"
            stroke-dasharray="16"
            stroke-dashoffset="16"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          >
            <path d="M5 12h14">
              <animate
                fill="freeze"
                attributeName="stroke-dashoffset"
                dur="0.48s"
                values="16;0"
              />
            </path>
            <path d="M12 5v14">
              <animate
                fill="freeze"
                attributeName="stroke-dashoffset"
                begin="0.48s"
                dur="0.48s"
                values="16;0"
              />
            </path>
          </g>
        </svg>
        New Health Record
      </button>
    </div>
  </span>
  <div class="mat-elevation-z8 mt-4 rounded-table">
    <div class="table-responsive">
      <table mat-table matSort [dataSource]="dataSource">
        <ng-container matColumnDef="recordId">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            style="min-width: 120px"
          >
            Record
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="tableText-bold"
            [routerLink]="[
              '/dairyFarm/health-record/',
              element.healthVaccinationRecordId
            ]"
          >
            {{ element.recordRef }}
          </td>
        </ng-container>
        <ng-container matColumnDef="animalId">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            style="min-width: 120px"
          >
            Animal ID
          </th>
          <td mat-cell *matCellDef="let element" class="tableText-thin">
            {{ element.recordRef }}
          </td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            style="min-width: 140px !important"
          >
            Date
          </th>
          <td mat-cell *matCellDef="let element" class="tableText-thin">
            {{ element.date | date : "dd/MM/yyyy" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="vacName">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            style="min-width: 150px !important"
          >
            Vaccine Name
          </th>
          <td mat-cell *matCellDef="let element" class="tableText-thin">
            {{ element.name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="pur">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            style="min-width: 150px !important"
          >
            Purpose
          </th>
          <td mat-cell *matCellDef="let element" class="tableText-thin">
            {{ element.purpose }}
          </td>
        </ng-container>
        <ng-container matColumnDef="nextDueDate">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            style="min-width: 170px !important"
          >
            Next Due Date
          </th>
          <td mat-cell *matCellDef="let element" class="tableText-thin">
            {{ element.nextDueDate | date : "dd/MM/yyyy" }}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
  <app-data-not-found
    *ngIf="HealthVaccinationRecordList.length == 0 && !isLoadingResults"
  />
  <div class="skelton" *ngIf="isLoadingResults">
    <app-loading></app-loading>
  </div>
  <mat-paginator
    pageSize="10"
    [length]="HealthVaccinationRecordList.length"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
<!-- Add Health Record By Animal Id -->

<p-dialog
  header="Add Health & Vaccination Record"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '60vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <form [formGroup]="addHealthVaccinationRecordForm">
    <div class="row" style="row-gap: 20px">
      <div class="col-6">
        <span class="label">Supplier<span class="required-icon">*</span> </span>
        <div class="alt-dropdown">
          <p-select
            [options]="SupplierList"
            name="key"
            optionLabel="type"
            optionValue="id"
            (onChange)="ngAfterViewInit()"
            [showClear]="true"
            placeholder="Supplier "
            formControlName="supplierId"
          />
          <span
            class="errorValidation"
            *ngIf="
              addHealthVaccinationRecordForm.get('supplierId')?.touched &&
              addHealthVaccinationRecordForm
                .get('supplierId')
                ?.hasError('required')
            "
          >
            Required field
          </span>
        </div>
      </div>
      <div class="col-6">
        <span class="label"
          >Vaccine Name<span class="required-icon">*</span></span
        >
        <input
          type="text"
          class="input-felid"
          placeholder="Enter vaccine name..."
          formControlName="name"
        />
        <span
          class="errorValidation"
          *ngIf="
            addHealthVaccinationRecordForm.get('name')?.touched &&
            addHealthVaccinationRecordForm.get('name')?.hasError('required')
          "
        >
          Required field
        </span>
      </div>
      <div class="col-6">
        <span class="label">Purpose<span class="required-icon">*</span></span>
        <input
          type="text"
          class="input-felid"
          placeholder="Enter purpose..."
          formControlName="purpose"
        />
        <span
          class="errorValidation"
          *ngIf="
            addHealthVaccinationRecordForm.get('purpose')?.touched &&
            addHealthVaccinationRecordForm.get('purpose')?.hasError('required')
          "
        >
          Required field
        </span>
      </div>
      <div class="col-6">
        <span class="label">Date<span class="required-icon">*</span> </span>
        <input
          type="date"
          class="input-felid custom-date"
          placeholder="Enter date..."
          formControlName="date"
        />
        <span
          class="errorValidation"
          *ngIf="
            addHealthVaccinationRecordForm.get('date')?.touched &&
            addHealthVaccinationRecordForm.get('date')?.hasError('required')
          "
        >
          Required field
        </span>
      </div>
      <div class="col-6">
        <span class="label"
          >Next Due Date<span class="required-icon">*</span></span
        >
        <input
          type="date"
          class="input-felid custom-date"
          placeholder="Enter next due date..."
          formControlName="nextDueDate"
        />
        <span
          class="errorValidation"
          *ngIf="
            addHealthVaccinationRecordForm.get('nextDueDate')?.touched &&
            addHealthVaccinationRecordForm
              .get('nextDueDate')
              ?.hasError('required')
          "
        >
          Required field
        </span>
      </div>
    </div>
    <div class="d-flex justify-content-end gap-4 margin-btn">
      <button (click)="visible = false" type="button" class="btn-discard">
        Discard
      </button>
      <button
        type="button"
        (click)="
          addHealthVaccinationRecordForm.valid && !addLoading
            ? addHealthVaccinationRecord()
            : null
        "
        [ngClass]="{
          'btn-save': addHealthVaccinationRecordForm.valid && !addLoading,
          'btn-disable': addHealthVaccinationRecordForm.invalid || addLoading
        }"
      >
        Save &nbsp;
        <span
          *ngIf="addLoading"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
      </button>
    </div>
  </form>
</p-dialog>
<p-toast></p-toast>
