<div class="container-fluid">
  <span class="d-flex flex-wrap justify-content-between">
    <span class="heading mt-4" style="color: #4079b0 !important">
      Health History
    </span>
    <div class="d-flex align-items-center gap-5">
      <button
        (click)="visible = true"
        class="btn mt-4 mb-3"
        style="min-width: 120px"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          viewBox="0 0 24 24"
        >
          <g
            fill="none"
            stroke="currentColor"
            stroke-dasharray="16"
            stroke-dashoffset="16"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          >
            <path d="M5 12h14">
              <animate
                fill="freeze"
                attributeName="stroke-dashoffset"
                dur="0.48s"
                values="16;0"
              />
            </path>
            <path d="M12 5v14">
              <animate
                fill="freeze"
                attributeName="stroke-dashoffset"
                begin="0.48s"
                dur="0.48s"
                values="16;0"
              />
            </path>
          </g>
        </svg>
        New Health History
      </button>
    </div>
  </span>
  <div class="mat-elevation-z8 mt-4 rounded-table">
    <div class="table-responsive">
      <table mat-table matSort [dataSource]="dataSource">
        <ng-container matColumnDef="cell1">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            style="min-width: 120px"
          >
            Record Id
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="tableText-bold"
            [routerLink]="[
              '/dairyFarm/health-record/',
              element.healthVaccinationRecordId
            ]"
          >
            {{ element.animalHealthRef }}
          </td>
        </ng-container>
        <ng-container matColumnDef="cell2">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            style="min-width: 120px"
          >
            Weight
          </th>
          <td mat-cell *matCellDef="let element" class="tableText-thin">
            {{ element.weight }}
          </td>
        </ng-container>
        <ng-container matColumnDef="cell3">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            style="min-width: 180px !important"
          >
            Temperature (°C)
          </th>
          <td mat-cell *matCellDef="let element" class="tableText-thin">
            {{ element.temperature }}
          </td>
        </ng-container>
        <ng-container matColumnDef="cell4">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            style="min-width: 190px !important"
          >
            Medicine Treatment
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="tableText-thin one-line-text"
          >
            {{ element.medicineTreatment }}
          </td>
        </ng-container>
        <ng-container matColumnDef="cell5">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            style="min-width: 190px !important"
          >
            Last Checkup Date
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="tableText-thin one-line-text"
          >
            {{ element.lastCheckupDate | date : "dd/MM/yyyy" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="cell6">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            style="min-width: 170px !important"
          >
            Illness Notes
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="tableText-thin one-line-text"
          >
            {{ element.illnessNotes }}
          </td>
        </ng-container>
        <ng-container matColumnDef="cell7">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            style="min-width: 170px !important"
          >
            Remarks
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="tableText-thin one-line-text"
          >
            {{ element.remarks }}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
  <app-data-not-found
    *ngIf="HealthRecordList.length == 0 && !isLoadingResults"
  />
  <div class="skelton" *ngIf="isLoadingResults">
    <app-loading></app-loading>
  </div>
  <!-- <mat-paginator
    pageSize="10"
    [length]="HealthRecordList.length"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator> -->
</div>
<!-- Add Health Record By Animal Id -->

<p-dialog
  header="Add Health History"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '60vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="onDialogHide()"
>
  <form [formGroup]="addHealthVaccinationRecordForm">
    <div class="row" style="row-gap: 20px">
      <div class="col-6">
        <span class="label"
          >weight (KG)<span class="required-icon">*</span></span
        >
        <input
          type="number"
          class="input-felid"
          placeholder="Enter weight..."
          formControlName="weight"
        />
        <span
          class="errorValidation"
          *ngIf="
            addHealthVaccinationRecordForm.get('name')?.touched &&
            addHealthVaccinationRecordForm.get('name')?.hasError('required')
          "
        >
          Required field
        </span>
      </div>
      <div class="col-6">
        <span class="label"
          >temperature (°C)<span class="required-icon">*</span></span
        >
        <input
          type="number"
          class="input-felid"
          placeholder="Enter temperature..."
          formControlName="temperature"
        />
        <span
          class="errorValidation"
          *ngIf="
            addHealthVaccinationRecordForm.get('temperature')?.touched &&
            addHealthVaccinationRecordForm
              .get('temperature')
              ?.hasError('required')
          "
        >
          Required field
        </span>
      </div>
      <div class="col-6">
        <span class="label"
          >Illness Notes<span class="required-icon">*</span></span
        >
        <input
          type="text"
          class="input-felid"
          placeholder="Enter illnessNotes..."
          formControlName="illnessNotes"
        />
        <span
          class="errorValidation"
          *ngIf="
            addHealthVaccinationRecordForm.get('purpose')?.touched &&
            addHealthVaccinationRecordForm.get('purpose')?.hasError('required')
          "
        >
          Required field
        </span>
      </div>
      <div class="col-6">
        <span class="label"
          >medicine Treatment<span class="required-icon">*</span></span
        >
        <input
          type="text"
          class="input-felid"
          placeholder="Enter medicine treatment..."
          formControlName="medicineTreatment"
        />
        <span
          class="errorValidation"
          *ngIf="
            addHealthVaccinationRecordForm.get('purpose')?.touched &&
            addHealthVaccinationRecordForm.get('purpose')?.hasError('required')
          "
        >
          Required field
        </span>
      </div>
      <div class="col-6">
        <span class="label"
          >Last Checkup Date<span class="required-icon">*</span>
        </span>
        <input
          type="date"
          class="input-felid custom-date"
          placeholder="Enter last checkup date..."
          formControlName="lastCheckupDate"
          [max]="today"
        />
        <span
          class="errorValidation"
          *ngIf="
            addHealthVaccinationRecordForm.get('date')?.touched &&
            addHealthVaccinationRecordForm.get('date')?.hasError('required')
          "
        >
          Required field
        </span>
      </div>
      <div class="col-6">
        <span class="label">Remarks<span class="required-icon">*</span></span>
        <input
          type="text"
          class="input-felid"
          placeholder="Enter remarks..."
          formControlName="remarks"
        />
        <span
          class="errorValidation"
          *ngIf="
            addHealthVaccinationRecordForm.get('purpose')?.touched &&
            addHealthVaccinationRecordForm.get('purpose')?.hasError('required')
          "
        >
          Required field
        </span>
      </div>
    </div>
    <div class="d-flex justify-content-end gap-4 margin-btn">
      <button (click)="visible = false" type="button" class="btn-discard">
        Discard
      </button>
      <button
        type="button"
        (click)="
          addHealthVaccinationRecordForm.valid && !addLoading
            ? addHealthVaccinationRecord()
            : null
        "
        [ngClass]="{
          'btn-save': addHealthVaccinationRecordForm.valid && !addLoading,
          'btn-disable': addHealthVaccinationRecordForm.invalid || addLoading
        }"
      >
        Save &nbsp;
        <span
          *ngIf="addLoading"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
      </button>
    </div>
  </form>
</p-dialog>
<p-toast></p-toast>
