<div class="container-fluid">
  <div class="d-pointer">
    <span
      class="breadcrumb"
      style="text-transform: uppercase"
      [routerLink]="['/superAdmin/business/units']"
      >{{ this.businessUnitName }} /
    </span>
    <span
      class="breadcrumb-bold"
      style="cursor: pointer"
      [routerLink]="['/dairyFarm/breed']"
      >&nbsp;Breed /</span
    >
    <span class="breadcrumb-bold">&nbsp;Breed Detail</span>
  </div>
  <!-- User Header -->
  <div
    class="header-card d-flex align-items-center justify-content-between mb-4"
  >
    <div class="heading mb-0" style="color: #4079b0 !important">
      {{ BreedDetail.breedRef }}
    </div>
  </div>
  <!-- Customer Details -->
  <div
    class="d-flex justify-content-between align-items-center"
    style="margin-top: 70px"
  >
    <span class="heading" style="color: #4079b0 !important">
      Animal Detail
    </span>
    <span *ngIf="isReadOnly" (click)="isReadOnly = false">
      <button class="edit-btn">EDIT</button>
    </span>
    <span *ngIf="!isReadOnly" class="d-flex justify-content-end gap-4">
      <button (click)="discardChanges()" type="button" class="btn-discard">
        Discard
      </button>
      <button
        type="button"
        (click)="
          editBreedForm.valid && !editLoading ? editLiveStockDetail() : null
        "
        [ngClass]="{
          'btn-save': editBreedForm.valid && !editLoading,
          'btn-disable': editBreedForm.invalid || editLoading
        }"
      >
        Save &nbsp;
        <span
          *ngIf="editLoading"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
      </button>
    </span>
  </div>
  <form [formGroup]="editBreedForm">
    <div class="row g-3 align-items-end mt-4">
      <div class="col-md-4 mb-4">
        <span class="label">Breed Id</span>
        <input
          type="text"
          [value]="BreedDetail.breedRef"
          class="input-felid"
          [readonly]="true"
          placeholder="Enter breed id..."
        />
      </div>

      <div class="col-md-4 mb-4">
        <span class="label"
          >Breed Name<span class="required-icon">*</span></span
        >
        <input
          type="text"
          value="NILI-RAVI"
          class="input-felid"
          [ngClass]="{ 'input-disable': isReadOnly }"
          placeholder="Enter breed name..."
          formControlName="name"
        />
        <span
          class="errorValidation"
          *ngIf="
            editBreedForm.get('name')?.touched &&
            editBreedForm.get('name')?.hasError('required')
          "
        >
          Required field
        </span>
      </div>
      <div class="col-md-4 mb-4 position-relative">
        <span class="label"
          >Animal Type<span class="required-icon">*</span>
        </span>
        <div class="alt-dropdown" [ngClass]="{ 'input-disable': isReadOnly }">
          <p-select
            [options]="AnimalTypes"
            optionLabel="type"
            optionValue="id"
            formControlName="animalTypeId"
            placeholder="Animal Type"
          ></p-select>
          <span
            class="errorValidation"
            *ngIf="
              editBreedForm.get('animalTypeId')?.touched &&
              editBreedForm.get('animalTypeId')?.hasError('required')
            "
          >
            Required field
          </span>
        </div>
      </div>
      <div class="col-md-4 mb-4 position-relative">
        <span class="label">Origin</span>
        <input
          type="text"
          value="PAKISTAN"
          class="input-felid"
          [ngClass]="{ 'input-disable': isReadOnly }"
          placeholder="Enter location..."
          formControlName="origin"
        />
      </div>
      <div class="col-md-12 mb-4">
        <span class="label">Note</span>
        <input
          type="text"
          value="HIGH MILK YIELD"
          class="input-felid"
          [ngClass]="{ 'input-disable': isReadOnly }"
          placeholder="Enter note..."
          formControlName="note"
        />
      </div>
    </div>
  </form>
</div>
<p-toast />
