.table-heading{
  font-family: 'Montserrat' !important;
color: #000000 !important;
font-size: 25px !important;
font-weight: 600 !important;
width: 100% !important; 
font-weight: bold !important;
padding-left: 10px;
margin-top: 15px;
color: black !important;
}