<div class="container">
    <div>
    <span class="breadcrumb"  [routerLink]="['/superAdmin']"  >BINISHAQ /</span>
    <span class="breadcrumb-bold">&nbsp;{{businessUnitName}} /</span>
    <span  class="breadcrumb-bold">&nbsp;Dashboard</span>
  </div>
  <!-- User Header -->
  <div
    class="header-card d-flex align-items-center justify-content-between mb-4"
  >
    <div *ngIf="!loading" class="heading mb-0" style="color: #03192c">
      {{ stockInDetail.reference }}
    </div>
    <p-skeleton *ngIf="loading" height="35px" width="150px" />
    <!-- <span (click)="deleteStockInDetail()">
      <button class="edit-btn">Delete</button>
    </span> -->
  </div>
  <!-- Customer Details -->
  <div
    class="d-flex justify-content-between align-items-center"
    style="margin-top: 70px"
  >
    <span class="heading"> Stock In Detail </span>
    <span *ngIf="isReadOnly" (click)="isReadOnly = false">
      <button class="edit-btn">EDIT</button>
    </span>
    <span *ngIf="!isReadOnly" class="d-flex justify-content-end gap-4">
      <button (click)="discardChanges()" type="button" class="btn-discard">
        Discard
      </button>
      <button
        type="button"
        (click)="
          editStockInModel.valid && !editLoading ? editStockInDetail() : null
        "
        [ngClass]="{
          'btn-save': editStockInModel.valid && !editLoading,
          'btn-disable': editStockInModel.invalid || editLoading
        }"
      >
        Save &nbsp;
        <span
          *ngIf="editLoading"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
      </button>
    </span>
  </div>
  <form [formGroup]="editStockInModel">
    <div class="row g-3 align-items-end mt-4">
      <div class="col-md-4 mb-4">
        <span class="label">Client Name</span>
        <p-select
          [options]="partiesTypes"
          formControlName="partyId"
          optionLabel="type"
          optionValue="id"
          filter="true"
          placeholder="Select Name"
          styleClass="my-custom-select"
        />
      </div>
      <div class="col-md-4 mb-4">
        <span class="label">Product</span>
        <p-select
          [options]="productTypes"
          formControlName="productTypeId"
          optionLabel="type"
          optionValue="id"
          (onChange)="loadData(editStockInModel.value.productTypeId)"
          placeholder="Select Product"
          styleClass="my-custom-select"
        />
      </div>
      <div class="col-md-4 mb-4">
        <span class="label">Farmar name</span>
        <input
          type="text"
          formControlName="farmerName"
          class="input-felid"
          [ngClass]="{ 'input-disable': isReadOnly }"
          placeholder="Enter farmerName..."
        />
      </div>
      <div class="col-md-4 mb-4">
        <span class="label">Quantity</span>
        <input
          type="number"
          formControlName="quantity"
          class="input-felid"
          [ngClass]="{ 'input-disable': isReadOnly }"
          class="input-felid"
          placeholder="Enter quantity..."
        />
      </div>
      <div class="col-md-4 mb-4">
        <span class="label">batch no/bill no</span>
        <input
          type="text"
          formControlName="batchReference"
          class="input-felid"
          [ngClass]="{ 'input-disable': isReadOnly }"
          placeholder="Enter batch no..."
        />
      </div>
      <div class="col-md-4 mb-4">
        <span class="label">Type</span>
        <p-select
          [options]="types"
          formControlName="typeId"
          optionLabel="type"
          optionValue="id"
          placeholder="Select Type"
          styleClass="my-custom-select"
        />
      </div>
      <div class="col-md-4 mb-4">
        <span class="label">Rack</span>
        <p-select
          [options]="racksTypes"
          formControlName="coldStoreShelfId"
          optionLabel="type"
          optionValue="id"
          placeholder="Select Rack"
          styleClass="my-custom-select"
        />
      </div>
      <!-- for eggs -->
      <div
        *ngIf="
          editStockInModel.value.productTypeId == 1 ||
          editStockInModel.value.productTypeId == null
        "
        class="col-md-4 mb-4"
      >
        <div class="label">Egg in gram</div>
        <p-select
          [options]="productUnits"
          formControlName="unitId"
          optionLabel="type"
          optionValue="id"
          placeholder="Select Unit"
          styleClass="my-custom-select"
        />
      </div>
      <!--for potato  -->
      <div
        *ngIf="editStockInModel.value.productTypeId == 0"
        class="col-md-4 mb-4"
      >
        <div class="label">Pack Size In Kgs</div>
        <p-select
          [options]="productUnits"
          formControlName="unitId"
          optionLabel="type"
          optionValue="id"
          placeholder="Select Unit"
          styleClass="my-custom-select"
        />
      </div>
      <div class="col-md-4 mb-4">
        <span class="label">Variety</span>
        <p-select
          [options]="productVarieties"
          formControlName="varietyId"
          optionLabel="type"
          optionValue="id"
          placeholder="Select Variety"
          styleClass="my-custom-select"
        />
      </div>
      <div class="col-md-4 mb-4">
        <span class="label">Date</span>
        <input
          type="date"
          formControlName="startDate"
          class="input-felid custom-date"
          [ngClass]="{ 'input-disable': isReadOnly }"
          placeholder="Enter date..."
        />
      </div>
      <div class="col-md-4 mb-4">
        <span class="label">Room</span>
        <p-select
          [options]="roomsTypes"
          formControlName="roomId"
          optionLabel="type"
          optionValue="id"
          placeholder="Select Room"
          styleClass="my-custom-select"
        />
      </div>
      <div class="col-md-4 mb-4">
        <span class="label">Created By</span>
        <input
          type="text"
          formControlName="createdBy"
          class="input-felid input-disable"
          formControlName="createdBy"
          placeholder="Enter CreatedBy"
        />
      </div>
      <div class="col-md-4 mb-4">
        <span class="label">Created At</span>
        <input
          type="date"
          formControlName="createdBy"
          [ngClass]="{ 'input-disable': isReadOnly }"
          class="input-felid"
          placeholder="Enter city..."
          type="date"
         formControlName="createdAt"
          class="input-felid input-disable custom-date"
          placeholder="Enter date..."
        />
      </div>
      <div class="col-md-4 mb-4">
        <span class="label">Updated By</span>
        <input
          type="text"
          formControlName="updatedBy"
          [ngClass]="{ 'input-disable': isReadOnly }"
          class="input-felid"
          placeholder="Enter city..."
          formControlName="updatedBy"
          class="input-felid input-disable"
          placeholder="Enter updatedBy..."
        />
      </div>
      <div class="col-md-4 mb-4">
        <span class="label">Updated At</span>
        <input
          type="dat"
          formControlName="createdAt"

          [ngClass]="{ 'input-disable': isReadOnly }"
          class="input-felid"
          placeholder="Enter city..."
          type="date"
          formControlName="updatedAt"
          class="input-felid input-disable custom-date"
          placeholder="Enter date..."
        />
      </div>
      <div class="col-md-12 mb-4">
        <span class="label">Note</span>
        <input
          type="text"
          formControlName="note"
          class="input-felid"
          [ngClass]="{ 'input-disable': isReadOnly }"
          class="input-felid"
          placeholder="Enter note..."
        />
      </div>
    </div>
  </form>

  <!-- for simple Detail -->
  <!-- <form >
    <div class="row g-3 align-items-end mt-4">
      <div class="col-md-4 mb-4">
        <div class="label1">Client Name</div>
        <input
          *ngIf="!loading"
          type="text"
          value="{{ stocksDetail.party }}"
          class="input-field"
          style="pointer-events: none; border: none"
        />
        <p-skeleton *ngIf="loading" height="30px" />
      </div>
      <div class="col-md-4 mb-4">
        <div class="label1">Product</div>
        <input
          *ngIf="!loading"
          type="text"
          value="{{ stocksDetail.productType }}"
          class="input-field"
          style="pointer-events: none; border: none"
        />
        <p-skeleton *ngIf="loading" height="30px" />
      </div>
      <div class="col-md-4 mb-4">
        <div class="label1">Farmar Name</div>
        <input
          *ngIf="!loading"
          type="text"
          value="{{ stocksDetail.farmerName }}"
          class="input-field"
          style="pointer-events: none; border: none"
        />
        <p-skeleton *ngIf="loading" height="30px" />
      </div>
      <div class="col-md-4 mb-4">
        <div class="label1">Quantity</div>
        <input
          *ngIf="!loading"
          type="text"
          value="{{ stocksDetail.quantity }}"
          class="input-field"
          style="pointer-events: none; border: none"
        />
        <p-skeleton *ngIf="loading" height="30px" />
      </div>
      <div class="col-md-4 mb-4">
        <div class="label1">Batch No/Bill No</div>
        <input
          *ngIf="!loading"
          type="text"
          value="{{ stocksDetail.batchReference }}"
          class="input-field"
          style="pointer-events: none; border: none"
        />
        <p-skeleton *ngIf="loading" height="30px" />
      </div>
      <div class="col-md-4 mb-4">
        <div class="label1">Type</div>
        <input
          *ngIf="!loading"
          type="text"
          value="{{ stocksDetail.type }}"
          class="input-field"
          style="pointer-events: none; border: none"
        />
        <p-skeleton *ngIf="loading" height="30px" />
      </div>
      <div class="col-md-4 mb-4">
        <div class="label1">Rake No</div>
        <input
          *ngIf="!loading"
          type="text"
          value="{{ stocksDetail.coldStoreShelf }}"
          class="input-field"
          style="pointer-events: none; border: none"
        />
        <p-skeleton *ngIf="loading" height="30px" />
      </div>
      <div class="col-md-4 mb-4">
        <div class="label1">
          {{
            stocksDetail.productTypeId == 1 ? "Egg in Gram" : "Pack Size in Kgs"
          }}
        </div>
        <input
          *ngIf="!loading"
          type="text"
          value="{{ stocksDetail.unit }}"
          class="input-field"
          style="pointer-events: none; border: none"
        />
        <p-skeleton *ngIf="loading" height="30px" />
      </div>
      <div class="col-md-4 mb-4">
        <div class="label1">Variety</div>
        <input
          *ngIf="!loading"
          type="text"
          value="{{ stocksDetail.variety }}"
          class="input-field"
          style="pointer-events: none; border: none"
        />
        <p-skeleton *ngIf="loading" height="30px" />
      </div>
      <div class="col-md-4 mb-4">
        <div class="label1">Date</div>
        <input
          *ngIf="!loading"
          type="date"
          value="{{ stocksDetail.startDate }}"
          class="input-field"
          style="pointer-events: none; border: none"
        />
        <p-skeleton *ngIf="loading" height="30px" />
      </div>
      <div class="col-md-4 mb-4">
        <div class="label1">Created By</div>
        <input
          *ngIf="!loading"
          type="text"
          value="{{ stocksDetail.createdBy }}"
          class="input-field"
          style="pointer-events: none; border: none"
        />
        <p-skeleton *ngIf="loading" height="30px" />
      </div>
      <div class="col-md-4 mb-4">
        <div class="label1">Created At</div>
        <input
          *ngIf="!loading"
          type="date"
          value="{{ stocksDetail.createdAt }}"
          class="input-field"
          style="pointer-events: none; border: none"
        />
        <p-skeleton *ngIf="loading" height="30px" />
      </div>

      <div class="col-md-4 mb-4">
        <div class="label1">Updated By</div>
        <input
          *ngIf="!loading"
          type="text"
          value="{{ stocksDetail.updatedBy }}"
          class="input-field"
          style="pointer-events: none; border: none"
        />
        <p-skeleton *ngIf="loading" height="30px" />
      </div>
      <div class="col-md-4 mb-4">
        <div class="label1">Updated At</div>
        <input
          *ngIf="!loading"
          type="date"
          value="{{ stocksDetail.updatedAt }}"
          class="input-field"
          style="pointer-events: none; border: none"
        />
        <p-skeleton *ngIf="loading" height="30px" />
      </div>
      <div class="col-md-12 mb-4">
        <div class="label1">Note</div>
        <div
          *ngIf="!loading"
          class="input-field"
          style="border: 1px solid white"
        >
          {{ stocksDetail.note }}
        </div>
        <p-skeleton *ngIf="loading" height="30px" />
      </div>
    </div>
  </form> -->
</div>
<p-toast />
