  .date-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #03192C;


  } 
   .date-input{
    height: 38px;
    width: 150px;
    border-radius: 12px;
    border: 1px solid #00000033;
    color: #021B0299;
    padding: 4px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
    background-color: #fff;
    outline: none;
  }
  //dialog tityle
 ::ng-deep .p-dialog-title {
font-family: 'Montserrat' !important;
color: #000000 !important;
font-size: 22px !important;
font-weight: 600 !important;
margin-left: 10px !important;

}
  //dialog header
::ng-deep .p-dialog-header {
  padding: 10px  !important;
}
//.p-dialog-content
::ng-deep .p-dialog-content{
  padding:10px  !important;
}

::ng-deep .confirmation-btn {
  min-width: 100px !important;
  padding: 0.5rem 1rem;
  font-weight: 600;
}
