<div class="container-fluid">
  <div>
    <span class="breadcrumb"  [routerLink]="['/superAdmin']"  >BINISHAQ /</span>
    <span class="breadcrumb-bold">&nbsp;{{businessUnitName}} /</span>
    <span  class="breadcrumb-bold">&nbsp;Settings</span>
  </div>
  <!-- User Header -->
  <div class="header-card d-flex align-items-center justify-content-between mb-4" >
    <div class="heading mb-0" style="color: #03192C;">
     {{coldStoreShelfDetail.shelfName}}
    </div>
      <div class="d-flex align-items-center">  
        <div class="alarms mt-4 mb-3 mx-3 d-flex align-items-center">
                            <p-checkbox [binary]="true" inputId="binary" inputId="ny"
                                [(ngModel)]="coldStoreShelfDetail.isOccupied" [disabled]="true" />
                            <label class="form-select" for="tricheckbox" class="mx-2">Occupied</label>
        </div>
        <div class="alarms mt-4 mb-3 mx-3 d-flex align-items-center">
                            <p-checkbox [binary]="true" inputId="binary" inputId="ny"
                                [(ngModel)]="isArchived" (onChange)="editArchiveStatus()" />
                            <label class="form-select" for="tricheckbox" class="mx-2">Archived</label>
        </div>
      </div>    
    </div>
  <!-- Customer Details -->
 <div class="d-flex justify-content-between align-items-center" style="margin-top: 70px;">
    <span class="heading">
    Rack Detail
    </span>
    <span *ngIf="isReadOnly" (click)="isReadOnly = false;">
        <button class="edit-btn">EDIT</button>
    </span>
    <span  *ngIf="!isReadOnly"  class="d-flex justify-content-end gap-4" >
      <button (click)="discardChanges()"  type="button" class="btn-discard"  
       >
          Discard
          
        </button>
       <button  type="button" (click)="(editColdStoreShelfModel.valid && !editLoading)?editColdStoreShelfDetail():null" 
         [ngClass]="{
        'btn-save': editColdStoreShelfModel.valid && !editLoading,
        'btn-disable': editColdStoreShelfModel.invalid || editLoading
           }"  >
          Save &nbsp;
           <span *ngIf="editLoading"  class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
      </span>
   </div>
  <form [formGroup]="editColdStoreShelfModel" >
  <div class="row g-3 align-items-end mt-4">
    
    <div class="col-md-4 mb-4">
      <span class="label">Shelf Name<span class="required-icon">*</span></span>
    <input type="text" formControlName="shelfName" class="input-felid" [ngClass]="{ 'input-disable': isReadOnly  }"   class="input-felid" placeholder="Enter name...">
    </div>
    <div class="col-md-4 mb-4">
     <span class="label">Capicity cubic feet<span class="required-icon">*</span></span>
    <input type="number" step="0.1" min="0" formControlName="capacityCubicFeet"  class="input-felid" [ngClass]="{ 'input-disable': isReadOnly  }"   class="input-felid" placeholder="12345">

    </div> 
   
    <div class="col-md-4 mb-4">
     <div class="mt-3">
        <span class="label">Business Unit<span class="required-icon">*</span></span>
        <div>
        <p-select 
                    [options]="businessUnitTypes" 
                   formControlName="businessUnitId" 
                    optionLabel="type"
                    optionValue="id"
                     [filter]="true" filterBy="type"
                    placeholder="Business Unit" 
                   class="p-select-disabled"
                     readonly="true"
                    />
        </div>
      </div>    
    </div>
  </div>
  </form>
</div>
<p-toast />
