<div class="container-fluid">
  <div>
    <span class="breadcrumb" [routerLink]="['/superAdmin']">BINISHAQ /</span>
    <span class="breadcrumb-bold">&nbsp;{{ businessUnitName }} /</span>
    <span class="breadcrumb-bold">&nbsp;Stock In</span>
  </div>
  <span class="d-flex flex-wrap justify-content-between">
    <span class="d-flex flex-wrap">
      <div class="position-relative searchinput mt-4 mb-3">
        <svg
          class="position-absolute search-icon"
          xmlns="http://www.w3.org/2000/svg"
          width="25px"
          height="25px"
          style="top: 7px; left: 10px"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="m19.6 21l-6.3-6.3q-.75.6-1.725.95T9.5 16q-2.725 0-4.612-1.888T3 9.5t1.888-4.612T9.5 3t4.613 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l6.3 6.3zM9.5 14q1.875 0 3.188-1.312T14 9.5t-1.312-3.187T9.5 5T6.313 6.313T5 9.5t1.313 3.188T9.5 14"
          />
        </svg>
        <input
          type="text"
          autocomplete="off"
          (keyup)="SearchBySearchKey($event); getStocksList()"
          (keyup.enter)="getStocksList()"
          style="padding-left: 40px"
          [(ngModel)]="searchKey"
          class="search-input"
          name="searchValue"
          placeholder="Search Ref,Batch Ref,Customer..."
        />
        <div style="position: absolute; top: 4px; right: 0">
          <svg
            class="search-cross-icon"
            *ngIf="searchKey != null"
            (click)="searchKey = null; getStocksList()"
            style="
              margin-top: 6px !important;
              margin-right: 10px !important;
              color: #ed5d25;
            "
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <g fill="currentColor" fill-rule="evenodd" clip-rule="evenodd">
              <path
                d="M5.47 5.47a.75.75 0 0 1 1.06 0l12 12a.75.75 0 1 1-1.06 1.06l-12-12a.75.75 0 0 1 0-1.06"
              />
              <path
                d="M18.53 5.47a.75.75 0 0 1 0 1.06l-12 12a.75.75 0 0 1-1.06-1.06l12-12a.75.75 0 0 1 1.06 0"
              />
            </g>
          </svg>
        </div>
      </div>
      <span class="alarms mt-4 mb-3 mx-3">
        <p-select
          [options]="partiesTypes"
          optionLabel="type"
          optionValue="id"
          [(ngModel)]="clientId"
          filter="true"
          (onChange)="ngAfterViewInit()"
          placeholder="Select Customer"
        />
      </span>
      <span class="alarms mt-4 mb-3 mx-3">
        <p-select
          [options]="productTypes"
          optionLabel="type"
          optionValue="id"
          [(ngModel)]="productTypeId"
          (onChange)="ngAfterViewInit()"
          placeholder="Product Type"
        />
      </span>
      <div class="d-flex mt-4 mb-2 mx-4" style="gap: 5px">
        <span class="date-text mt-2">From</span>
        <input
          type="date"
          placeholder="To date"
          [(ngModel)]="fromDate"
          (change)="getStocksList()"
          class="date-input custom-date"
        />
      </div>
      <div class="d-flex mt-4 mb-2 mx-2" style="gap: 5px">
        <span class="date-text mt-2">To</span>
        <input
          type="date"
          placeholder="From date"
          [(ngModel)]="toDate"
          (change)="getStocksList()"
          class="date-input custom-date"
        />
      </div>
      <div class="d-flex align-items-center mx-3 gap-5">
        <span
          (click)="ResetFilter()"
          *ngIf="
            searchKey != null ||
            toDate != null ||
            fromDate != null ||
            clientId != null
          "
          class="tableText-bold mt-2"
          style="color: #e83838; font-weight: 700"
        >
          Reset Filter
        </span>
        <button
          (click)="resetFormKeepProductId()"
          class="btn mt-4 mb-3"
          style="min-width: 120px"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            viewBox="0 0 24 24"
          >
            <g
              fill="none"
              stroke="currentColor"
              stroke-dasharray="16"
              stroke-dashoffset="16"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            >
              <path d="M5 12h14">
                <animate
                  fill="freeze"
                  attributeName="stroke-dashoffset"
                  dur="0.48s"
                  values="16;0"
                />
              </path>
              <path d="M12 5v14">
                <animate
                  fill="freeze"
                  attributeName="stroke-dashoffset"
                  begin="0.48s"
                  dur="0.48s"
                  values="16;0"
                />
              </path>
            </g>
          </svg>
          New Stock
        </button>
      </div>
    </span>
  </span>
  <div class="mat-elevation-z8 mt-4 rounded-table">
    <div class="table-responsive">
      <table mat-table matSort [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="ref">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            style="min-width: 120px"
          >
            Reference
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="tableText-bold"
            [routerLink]="['/coldStore/stock-in', element.stockId]"
          >
            {{ element.reference }}
          </td>
        </ng-container>
        <ng-container matColumnDef="batch">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            style="min-width: 120px"
          >
            Batch Ref
          </th>
          <td mat-cell *matCellDef="let element" class="tableText-thin">
            {{ element.batchReference }}
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            style="min-width: 180px"
          >
            Customer Name
          </th>
          <td mat-cell *matCellDef="let element" class="tableText-thin">
            {{ element.party }}
          </td>
        </ng-container>
        <ng-container matColumnDef="stoInDate">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            style="min-width: 150px !important"
          >
            STOCK In DATE
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.startDate | date : "dd/MM/yyyy" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="quantity">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            style="min-width: 180px"
          >
            Stock In Quantity
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="tableText-thin mx-4">
              {{ element.quantity }}
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="remStock">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            style="min-width: 180px"
          >
            Remaining Stock
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="tableText-thin mx-4">
              {{ element.remainingStock }}
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="prodType">
          <th mat-header-cell *matHeaderCellDef class="table-header">
            Product
          </th>
          <td mat-cell *matCellDef="let element" class="tableText-thin">
            {{ element.productType }}
          </td>
        </ng-container>
        <ng-container matColumnDef="unitType">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            style="min-width: 160px"
          >
            {{ productTypeId == 1 ? "Egg Gram" : "Pack Size in KGs" }}
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="tableText-thin mx-4">
              {{ element.unit }}
            </div>
            <!-- <div class="table-btn" style="background: #423cf5c9;color: white;">
                {{element.unit}}
            </div> -->
          </td>
        </ng-container>
        <ng-container matColumnDef="productType">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            style="min-width: 170px"
          >
            {{ productTypeId == 1 ? "Egg/Variety" : "Potato/Variety" }}
          </th>
          <td mat-cell *matCellDef="let element" class="tableText-thin">
            {{ element.variety }}
          </td>
        </ng-container>
        <ng-container matColumnDef="farName">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            style="min-width: 140px"
          >
            FARMAR NAME
          </th>
          <td mat-cell *matCellDef="let element" class="tableText-thin">
            {{ element.farmerName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="rackNo">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            style="min-width: 120px"
          >
            Rake No
          </th>
          <td mat-cell *matCellDef="let element" class="tableText-thin">
            {{ element.coldStoreShelf }}
          </td>
        </ng-container>
        <ng-container matColumnDef="room">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            style="min-width: 120px; max-width: 120px"
          >
            Room
          </th>
          <td mat-cell *matCellDef="let element" class="tableText-thin">
            {{ element.room }}
          </td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            style="min-width: 120px; max-width: 120px"
          >
            Type
          </th>
          <td mat-cell *matCellDef="let element" class="tableText-thin">
            {{ element.type }}
          </td>
        </ng-container>
        <ng-container matColumnDef="note">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            style="min-width: 250px; max-width: 250px"
          >
            Note
          </th>
          <td mat-cell *matCellDef="let element" class="tableText-thin">
            {{ element.note }}
          </td>
        </ng-container>
        <ng-container matColumnDef="btn">
          <th mat-header-cell *matHeaderCellDef class="table-header"></th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex gap-3 align-items-center">
              <span
                [style.visibility]="
                  element.inActiveStockOutCount > 0 ? 'visible' : 'hidden'
                "
                class="unsave-count"
              >
                {{ element.inActiveStockOutCount }}
              </span>
              <span
                [routerLink]="[
                  '/coldStore/stock-out',
                  'detail',
                  element.stockId
                ]"
              >
                <svg
                  style="color: #ed5d25; cursor: pointer"
                  xmlns="http://www.w3.org/2000/svg"
                  width="30px"
                  height="30px"
                  viewBox="0 0 24 24"
                >
                  <path
                    fill="currentColor"
                    d="M12 9a3 3 0 0 1 3 3a3 3 0 0 1-3 3a3 3 0 0 1-3-3a3 3 0 0 1 3-3m0-4.5c5 0 9.27 3.11 11 7.5c-1.73 4.39-6 7.5-11 7.5S2.73 16.39 1 12c1.73-4.39 6-7.5 11-7.5M3.18 12a9.821 9.821 0 0 0 17.64 0a9.821 9.821 0 0 0-17.64 0"
                  />
                </svg>
              </span>
              <button
                *ngIf="element.remainingStock > 0"
                type="button"
                (click)="
                  outStockPopupVisible = true;
                  totalDays = 0;
                  getStockOutDetail(element.stockId);
                  getStockOut(element.stockId)
                "
                class="btn-save"
                style="
                  background: white;
                  border: 1px solid #ed5d25;
                  color: #ed5d25;
                  border-radius: 8px;
                  font-weight: 400;
                  height: 35px;
                "
              >
                Stock Out
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          [ngStyle]="
            row.inActiveStockOutCount > 0
              ? { 'background-color': 'rgb(236 180 161)' }
              : { 'background-color': 'white' }
          "
        ></tr>
      </table>
    </div>
  </div>
  <app-data-not-found *ngIf="stocksList.length == 0 && !isLoadingResults" />
  <div class="skelton" *ngIf="isLoadingResults">
    <app-loading></app-loading>
  </div>
  <mat-paginator
    pageSize="10"
    [length]="stocksList.length"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
<!-- Stock In popup -->
<div class="flex justify-center">
  <p-dialog
    header="Stock In"
    [modal]="true"
    [(visible)]="inStockPopupVisible"
    (onHide)="getStocksList()"
    [style]="{ width: '70vw' }"
    [draggable]="false"
    [resizable]="false"
  >
    <form [formGroup]="entryForm">
      <div class="row">
        <div class="col-md-4 mt-3">
          <div class="input-label">Customer Name</div>
          <p-select
            [options]="partiesTypes"
            formControlName="partyId"
            optionLabel="type"
            optionValue="id"
            filter="true"
            (onChange)="
              getStockListByPartyId(
                entryForm.value.partyId,
                entryForm.value.productTypeId
              )
            "
            placeholder="Select Name"
            styleClass="my-custom-select"
          />
        </div>
        <div class="col-md-4 mt-3">
          <div class="input-label">Product</div>
          <p-select
            [options]="productTypes"
            formControlName="productTypeId"
            optionLabel="type"
            optionValue="id"
            (onChange)="
              getStockListByPartyId(
                entryForm.value.partyId,
                entryForm.value.productTypeId
              )
            "
            (onChange)="loadData(entryForm.value.productTypeId)"
            placeholder="Select Product"
            styleClass="my-custom-select"
          />
        </div>
        <div class="col-md-4 mt-3">
          <div class="input-label">Farmar Name</div>
          <input
            type="text"
            formControlName="farmerName"
            placeholder="Enter farmer name"
            class="input-field"
          />
        </div>
        <div class="col-md-4 mt-3">
          <div class="input-label">Quantity</div>
          <input
            type="number"
            formControlName="quantity"
            placeholder="Enter quantity"
            (keydown)="preventDecimal($event)"
            class="input-field"
          />
          <!-- Show error message -->
          <span
            class="errorValidation"
            *ngIf="entryForm.get('quantity')?.touched && entryForm.get('quantity')?.errors?.['min']"
          >
            Quantity should be greater than 0
          </span>
        </div>
        <div class="col-md-4 mt-3">
          <div class="input-label">Batch No/Bill No</div>
          <input
            type="text"
            formControlName="batchReference"
            placeholder="Enter batch reference"
            class="input-field"
          />
        </div>
        <div class="col-md-4 mt-3">
          <div class="input-label">Type</div>
          <p-select
            [options]="types"
            formControlName="typeId"
            optionLabel="type"
            optionValue="id"
            placeholder="Select Type"
            styleClass="my-custom-select"
          />
        </div>
        <div class="col-md-4 mt-3">
          <div class="input-label">Rake</div>
          <p-select
            [options]="racksTypes"
            formControlName="coldStoreShelfId"
            optionLabel="type"
            optionValue="id"
            placeholder="Select Rack"
            styleClass="my-custom-select"
          />
        </div>

        <!-- for eggs -->
        <div
          *ngIf="
            entryForm.value.productTypeId == 1 ||
            entryForm.value.productTypeId == null
          "
          class="col-md-4 mt-3"
        >
          <div class="input-label">Egg in gram</div>
          <p-select
            [options]="productUnits"
            formControlName="unitId"
            optionLabel="type"
            optionValue="id"
            placeholder="Select Unit"
            styleClass="my-custom-select"
          />
        </div>
        <!--for potato  -->
        <div *ngIf="entryForm.value.productTypeId == 0" class="col-md-4 mt-3">
          <div class="input-label">Pack Size In Kgs</div>
          <p-select
            [options]="productUnits"
            formControlName="unitId"
            optionLabel="type"
            optionValue="id"
            placeholder="Select Unit"
            styleClass="my-custom-select"
          />
        </div>
        <div class="col-md-4 mt-3">
          <div class="input-label">Variety</div>
          <p-select
            [options]="productVarieties"
            formControlName="varietyId"
            optionLabel="type"
            optionValue="id"
            placeholder="Select Variety"
            styleClass="my-custom-select"
          />
        </div>
        <div class="col-md-4 mt-3">
          <div class="input-label">Date</div>
          <input
            type="date"
            formControlName="startDate"
            class="input-field custom-date"
          />
        </div>
        <div class="col-md-4 mt-3">
          <div class="input-label">Room</div>
          <p-select
            [options]="roomsTypes"
            formControlName="roomId"
            optionLabel="type"
            optionValue="id"
            placeholder="Select Room"
            styleClass="my-custom-select"
          />
        </div>
        <div class="col-md-12 mt-3">
          <div class="input-label">Note</div>
          <textarea
            class="form-control"
            formControlName="note"
            placeholder="Enter note"
            rows="3"
          ></textarea>
        </div>

        <div class="col-md-12 mt-3 text-end">
          <button
            type="button"
            (click)="entryForm.valid && !itemLoading ? onSubmit() : null"
            [ngClass]="{
              'btn-save': entryForm.valid && !itemLoading,
              'btn-disable': entryForm.invalid || itemLoading
            }"
          >
            Next &nbsp;
            <span
              *ngIf="itemLoading"
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span>
          </button>
        </div>
      </div>
    </form>

    <div class="mt-4">
      <h5 class="bg-teal text-white text-center py-2">REPORT</h5>
      <div class="table-responsive">
        <table class="stocks-table text-center align-middle">
          <thead class="table-header">
            <tr>
              <th class="stock-table-th" style="min-width: 50px">Sr.</th>
              <th class="stock-table-th" style="min-width: 80px">Quantity</th>
              <th class="stock-table-th" style="min-width: 90px">
                Batch No/Bill No
              </th>
              <th class="stock-table-th" style="min-width: 90px">Rake</th>
              <th class="stock-table-th" style="min-width: 90px">Room</th>
              <th class="stock-table-th" style="min-width: 90px">
                Farmer Name
              </th>
              <th class="stock-table-th" style="min-width: 90px">Type</th>
              <th class="stock-table-th" style="min-width: 90px">Variety</th>
              <!-- for egg -->
              <th
                *ngIf="entryForm.value.productTypeId == 1"
                class="stock-table-th"
                style="min-width: 80px"
              >
                Egg Gram
              </th>
              <!-- for potato -->
              <th
                *ngIf="entryForm.value.productTypeId == 0"
                class="stock-table-th"
                style="min-width: 80px"
              >
                PACK SIZE IN KGS
              </th>
              <th class="stock-table-th" style="min-width: 80px">Date</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="!loading">
              <tr *ngFor="let item of stockInList; let i = index">
                <td class="stock-table-td">{{ i + 1 }}</td>
                <!-- <td  class="stock-table-td" contenteditable="true">{{ entry.quantity }}</td> -->
                <td class="stock-table-td">
                  <input
                    type="number"
                    [(ngModel)]="item.quantity"
                    (input)="getTotalStockInQuantity()"
                    [readOnly]="isStockInEdit"
                    class="table-td-input"
                  />
                </td>
                <td class="stock-table-td">
                  <input
                    type="text"
                    [(ngModel)]="item.batchReference"
                    [readOnly]="isStockInEdit"
                    class="table-td-input"
                  />
                </td>

                <td class="stock-table-td">
                  <select
                    [(ngModel)]="item.coldStoreShelfId"
                    class="table-td-input"
                    [disabled]="isStockInEdit"
                  >
                    <option
                      *ngFor="let option of racksTypes"
                      [value]="option.id"
                    >
                      {{ option.type }}
                    </option>
                  </select>
                </td>
                <td class="stock-table-td">
                  <select
                    [(ngModel)]="item.roomId"
                    class="table-td-input"
                    [disabled]="isStockInEdit"
                  >
                    <option
                      *ngFor="let option of roomsTypes"
                      [value]="option.id"
                    >
                      {{ option.type }}
                    </option>
                  </select>
                </td>
                <td class="stock-table-td">
                  <input
                    type="text"
                    [(ngModel)]="item.farmerName"
                    [readOnly]="isStockInEdit"
                    class="table-td-input"
                  />
                </td>
                <td class="stock-table-td">
                  <select
                    [(ngModel)]="item.typeId"
                    class="table-td-input"
                    [disabled]="isStockInEdit"
                  >
                    <option *ngFor="let option of types" [value]="option.id">
                      {{ option.type }}
                    </option>
                  </select>
                </td>
                <td class="stock-table-td">
                  <select
                    [(ngModel)]="item.varietyId"
                    class="table-td-input"
                    [disabled]="isStockInEdit"
                  >
                    <option
                      *ngFor="let option of productVarieties"
                      [value]="option.id"
                    >
                      {{ option.type }}
                    </option>
                  </select>
                </td>
                <td class="stock-table-td">
                  <select
                    [(ngModel)]="item.unitId"
                    class="table-td-input"
                    [disabled]="isStockInEdit"
                  >
                    <option
                      *ngFor="let option of productUnits"
                      [value]="option.id"
                    >
                      {{ option.type }}
                    </option>
                  </select>
                </td>
                <td class="stock-table-td">
                  <input
                    type="date"
                    [(ngModel)]="item.startDate"
                    [readOnly]="isStockInEdit"
                    class="table-td-input custom-date"
                  />
                </td>
                <td class="stock-table-td d-pointer" style="cursor: pointer">
                  <!-- delete icon -->
                  <svg
                    *ngIf="!item.loading"
                    style="color: red"
                    (click)="
                      showConfirmation('stockIn');
                      stockInItemId = item.stockId;
                      deletedItemType = 'stockIn'
                    "
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill="currentColor"
                      d="M7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21zm2-4h2V8H9zm4 0h2V8h-2z"
                    />
                  </svg>
                  <span
                    *ngIf="item.loading"
                    class="spinner-border spinner-border-sm"
                    role="status"
                    aria-hidden="true"
                  ></span>
                </td>
                <td class="stock-table-td d-pointer" style="cursor: pointer">
                  <!-- edit icon -->
                  <svg
                    (click)="isStockInEdit = false"
                    style="color: #3ba3a5; cursor: pointer"
                    xmlns="http://www.w3.org/2000/svg"
                    width="25px"
                    height="25px"
                    viewBox="0 0 24 24"
                  >
                    <g
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                    >
                      <path
                        stroke-dasharray="20"
                        stroke-dashoffset="20"
                        d="M3 21h18"
                      >
                        <animate
                          fill="freeze"
                          attributeName="stroke-dashoffset"
                          dur="0.2s"
                          values="20;0"
                        />
                      </path>
                      <path
                        stroke-dasharray="48"
                        stroke-dashoffset="48"
                        d="M7 17v-4l10 -10l4 4l-10 10h-4"
                      >
                        <animate
                          fill="freeze"
                          attributeName="stroke-dashoffset"
                          begin="0.2s"
                          dur="0.6s"
                          values="48;0"
                        />
                      </path>
                      <path
                        stroke-dasharray="8"
                        stroke-dashoffset="8"
                        d="M14 6l4 4"
                      >
                        <animate
                          fill="freeze"
                          attributeName="stroke-dashoffset"
                          begin="0.8s"
                          dur="0.2s"
                          values="8;0"
                        />
                      </path>
                    </g>
                    <path
                      fill="currentColor"
                      fill-opacity="0"
                      d="M14 6l4 4L21 7L17 3Z"
                    >
                      <animate
                        fill="freeze"
                        attributeName="fill-opacity"
                        begin="1.1s"
                        dur="0.15s"
                        values="0;0.3"
                      />
                    </path>
                  </svg>
                </td>
              </tr>
            </ng-container>
            <ng-container *ngIf="loading">
              <tr>
                <td class="stock-table-td"><p-skeleton height="40px" /></td>
                <!-- <td  class="stock-table-td" contenteditable="true">{{ entry.quantity }}</td> -->
                <td class="stock-table-td"><p-skeleton height="40px" /></td>
                <td class="stock-table-td"><p-skeleton height="40px" /></td>
                <td class="stock-table-td"><p-skeleton height="40px" /></td>
                <td class="stock-table-td"><p-skeleton height="40px" /></td>
                <td class="stock-table-td"><p-skeleton height="40px" /></td>
                <td class="stock-table-td"><p-skeleton height="40px" /></td>
                <td class="stock-table-td"><p-skeleton height="40px" /></td>
                <td class="stock-table-td"><p-skeleton height="40px" /></td>
              </tr>
            </ng-container>
            <tr>
              <td
                colspan="9"
                style="
                  height: 30px;
                  border: none;
                  background: transparent;
                  padding: 0;
                "
              ></td>
            </tr>
            <tr>
              <td class="stock-table-th" style="padding: 10px 0" colspan="2">
                Total Quantity
              </td>
              <!-- {{ totalQuantity }} -->
              <td class="stock-table-td">{{ totalQuantity }}</td>
              <td></td>
              <td colspan="6" class="no-border"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <hr class="mt-5" />
    <div class="d-flex justify-content-end gap-4 mb-4" style="margin-top: 20px">
      <button
        (click)="inStockPopupVisible = false"
        type="button"
        class="btn-discard"
      >
        Discard
      </button>
      <button
        type="button"
        (click)="
          stockInList.length > 0 && !addLoading ? saveAllStockInItem() : null
        "
        [ngClass]="{
          'btn-save': stockInList.length > 0 && !addLoading,
          'btn-disable': stockInList.length <= 0 || addLoading
        }"
      >
        Save &nbsp;
        <span
          *ngIf="addLoading"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
      </button>
    </div>
  </p-dialog>
</div>

<!-- Stock Out popup -->

<div class="flex justify-center">
  <p-dialog
    [modal]="true"
    [(visible)]="outStockPopupVisible"
    [style]="{ width: '70vw' }"
    [draggable]="false"
    [resizable]="false"
    (onHide)="getStocksList()"
  >
    <ng-template pTemplate="header">
      <div class="custom-dialog-title">Stock Out</div>
    </ng-template>
    <form>
      <div class="row">
        <div
          class="col-12 custom-dialog-title mb-3 d-flex justify-content-start"
          style="font-weight: 600 !important; font-size: 22px !important"
        >
          Stock In Detail
        </div>
        <div class="col-md-4 mt-3">
          <div class="label1">Customer Name</div>
          <input
            *ngIf="!detailLoading"
            type="text"
            value="{{ stockOutDetail.party }}"
            class="input-field"
            style="pointer-events: none; border: none"
          />
          <p-skeleton *ngIf="detailLoading" height="40px" />
        </div>
        <div class="col-md-4 mt-3">
          <div class="label1">Product</div>
          <input
            *ngIf="!detailLoading"
            type="text"
            value="{{ stockOutDetail.productType }}"
            class="input-field"
            style="pointer-events: none; border: none"
          />
          <p-skeleton *ngIf="detailLoading" height="40px" />
        </div>
        <div class="col-md-4 mt-3">
          <div class="label1">Farmar Name</div>
          <input
            *ngIf="!detailLoading"
            type="text"
            value="{{ stockOutDetail.farmerName }}"
            class="input-field"
            style="pointer-events: none; border: none"
          />
          <p-skeleton *ngIf="detailLoading" height="40px" />
        </div>
        <div class="col-md-4 mt-3">
          <div class="label1">Quantity</div>
          <input
            *ngIf="!detailLoading"
            type="number"
            value="{{ stockOutDetail.quantity }}"
            class="input-field"
            style="pointer-events: none; border: none"
          />
          <p-skeleton *ngIf="detailLoading" height="40px" />
        </div>
        <div class="col-md-4 mt-3">
          <div class="label1">Batch No/Bill No</div>
          <input
            *ngIf="!detailLoading"
            type="text"
            value="{{ stockOutDetail.batchReference }}"
            class="input-field"
            style="pointer-events: none; border: none"
          />
          <p-skeleton *ngIf="detailLoading" height="40px" />
        </div>
        <div class="col-md-4 mt-3">
          <div class="label1">Type</div>
          <input
            *ngIf="!detailLoading"
            type="text"
            value="{{ stockOutDetail.type }}"
            class="input-field"
            style="pointer-events: none; border: none"
          />
          <p-skeleton *ngIf="detailLoading" height="40px" />
        </div>
        <div class="col-md-4 mt-3">
          <div class="label1">Rake No</div>
          <input
            *ngIf="!detailLoading"
            type="text"
            value="{{ stockOutDetail.coldStoreShelf }}"
            class="input-field"
            style="pointer-events: none; border: none"
          />
          <p-skeleton *ngIf="detailLoading" height="40px" />
        </div>
        <div class="col-md-4 mt-3">
          <div class="label1">
            {{
              stockOutDetail.productTypeId == 1
                ? "Egg in Gram"
                : "Pack Size in Kgs"
            }}
          </div>
          <input
            *ngIf="!detailLoading"
            type="text"
            value="{{ stockOutDetail.unit }}"
            class="input-field"
            style="pointer-events: none; border: none"
          />
          <p-skeleton *ngIf="detailLoading" height="40px" />
        </div>
        <div class="col-md-4 mt-3">
          <div class="label1">Variety</div>
          <input
            *ngIf="!detailLoading"
            type="text"
            value="{{ stockOutDetail.variety }}"
            class="input-field"
            style="pointer-events: none; border: none"
          />
          <p-skeleton *ngIf="detailLoading" height="40px" />
        </div>
        <div class="col-md-4 mt-3">
          <div class="label1">Stock In Date</div>
          <div
            *ngIf="!detailLoading"
            class="input-field custom-date"
            style="pointer-events: none; border: none"
          >
            {{ stockOutDetail.startDate | date : "MM/dd/yyyy" }}
          </div>
          <p-skeleton *ngIf="detailLoading" height="40px" />
          <!-- <input  type="date" value="{{stockOutDetail.startDate}}" class="input-field" /> -->
        </div>
      </div>
    </form>
    <!-- Stock out Model -->
    <form [formGroup]="stockOutModel">
      <div class="row">
        <div class="col-md-12 mt-3">
          <div class="row">
            <div class="col-md-4 mt-3">
              <div class="input-label">Stock Out Date</div>
              <input
                type="date"
                formControlName="stockOutDate"
                (change)="this.calculateDays()"
                class="input-field custom-date"
                [ngClass]="{ 'input-disable': remainingStock == 0 }"
              />
            </div>
            <div class="col-md-4 mt-3">
              <div class="input-label">Rent Months</div>
              <input
                type="number"
                formControlName="rentMonths"
                class="input-field"
                [ngClass]="{ 'input-disable': remainingStock == 0 }"
              />
              <!-- Show error message 
              <span class="errorValidation" *ngIf="(stockOutModel.get('rentRate')?.touched && stockOutModel.get('rentRate')?.errors?.['min'])">
              Rent Rate should be in greater than 0
                </span>-->
            </div>
            <div class="col-md-4 mt-3">
              <div class="input-label">Total Days</div>
              <div class="input-label">{{ this.totalDays }}</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 mt-3">
              <div class="input-label">Out Quantity</div>
              <input
                type="number"
                formControlName="outQuantity"
                (input)="getRemainingStock()"
                class="input-field"
                [ngClass]="{ 'input-disable': remainingStock == 0 }"
              />
              <!-- Show error message -->
              <span
                class="errorValidation"
                *ngIf="(stockOutModel.get('outQuantity')?.touched && stockOutModel.get('outQuantity')?.errors?.['min'])||stockOutModel.get('outQuantity')?.errors?.['max']"
              >
                Out Quantity should be in given range 1 to {{ maxOutQuantity }}
              </span>
            </div>
            <div class="col-md-4 mt-3">
              <div class="input-label">Rent Rate</div>
              <input
                type="number"
                formControlName="rentRate"
                class="input-field"
                [ngClass]="{ 'input-disable': remainingStock == 0 }"
              />
              <!-- Show error message -->
              <!-- <span class="errorValidation" *ngIf="(stockOutModel.get('rentRate')?.touched && stockOutModel.get('rentRate')?.errors?.['min'])">
              Rent Rate should be in greater than 0
                </span> -->
            </div>
            <div class="col-md-4 mt-3">
              <div class="input-label">Total Rent</div>
              <div class="input-label">
                Rs.
                {{
                  this.stockOutModel.value.rentMonths *
                    this.stockOutModel.value.rentRate *
                    this.stockOutModel.value.outQuantity
                }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-3">
          <div class="input-label">Note</div>
          <textarea
            class="form-control"
            formControlName="note"
            [ngClass]="{ 'form-control-disabled': remainingStock == 0 }"
            rows="3"
          ></textarea>
        </div>

        <div class="col-md-12 mt-3 text-end">
          <div class="row">
            <div class="col-md-4 d-flex gap-3">
              <button
                type="button"
                class="btn btn-warning"
                style="min-width: 150px"
              >
                REMAINING STOCK
              </button>
              <span
                *ngIf="!isTableEdit"
                class="stock-rate"
                style="min-width: 70px"
              >
                {{ getRemainingStock() }}
              </span>
              <span
                *ngIf="isTableEdit"
                class="stock-rate"
                style="min-width: 70px"
              >
                {{ remainingStock }}
              </span>
            </div>
            <div class="col-md-4 d-flex gap-3"></div>
            <div class="col-md-4">
              <!-- <button type="submit" class="btn btn-warning">Next</button> -->

              <button
                type="button"
                (click)="
                  stockOutModel.valid && !stockOutLoading
                    ? stockOutProduct()
                    : null
                "
                [ngClass]="{
                  'btn-save': stockOutModel.valid && !stockOutLoading,
                  'btn-disable': stockOutModel.invalid || stockOutLoading
                }"
              >
                Next &nbsp;
                <span
                  *ngIf="stockOutLoading"
                  class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"
                ></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="mt-4">
      <h5 class="bg-teal text-white text-center py-2">REPORT</h5>
      <div class="table-responsive">
        <table class="stocks-table text-center align-middle">
          <thead class="table-header">
            <tr>
              <th class="stock-table-th" style="min-width: 60px">Sr.</th>
              <th class="stock-table-th" style="min-width: 120px">
                Out Quantity
              </th>
              <th class="stock-table-th" style="min-width: 120px">
                Stock Out Date
              </th>
              <th class="stock-table-th" style="min-width: 120px">
                Rent Months
              </th>
              <th class="stock-table-th" style="min-width: 120px">Rent Rate</th>
              <th class="stock-table-th" style="min-width: 120px">
                Total Rent
              </th>
              <th class="stock-table-th" style="min-width: 170px">Note</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="!loading">
              <tr *ngFor="let item of stockOutList; let i = index">
                <td class="stock-table-td">
                  {{ i + 1 }}
                </td>

                <!-- Editable fields using ngModel -->
                <td class="stock-table-td">
                  <input
                    type="number"
                    [(ngModel)]="item.outQuantity"
                    [min]="1"
                    [readOnly]="isReadonly"
                    (input)="validateLeadingZero($event)"
                    (input)="GetOutQuantity(item, i)"
                    class="table-td-input"
                  />
                </td>

                <td class="stock-table-td">
                  <input
                    type="date"
                    [(ngModel)]="item.stockOutDate"
                    [readOnly]="isReadonly"
                    class="table-td-input custom-date"
                  />
                </td>
                <td class="stock-table-td">
                  <input
                    type="number"
                    [(ngModel)]="item.rentMonths"
                    [readOnly]="isReadonly"
                    [min]="1"
                    (input)="validateLeadingZero($event)"
                    class="table-td-input custom-date"
                  />
                </td>
                <td class="stock-table-td">
                  <input
                    type="number"
                    [(ngModel)]="item.rentRate"
                    [readOnly]="isReadonly"
                    class="table-td-input"
                  />
                </td>

                <td class="stock-table-td">
                  <input
                    type="number"
                    [value]="item.rentMonths * item.rentRate * item.outQuantity"
                    class="table-td-input"
                    readonly
                  />
                </td>

                <td class="stock-table-td">
                  <input
                    type="text"
                    [(ngModel)]="item.note"
                    [readOnly]="isReadonly"
                    class="table-td-input"
                  />
                </td>

                <td class="stock-table-td d-pointer" style="cursor: pointer">
                  <!-- delete icon -->
                  <svg
                    *ngIf="!item.loading"
                    style="color: red"
                    (click)="
                      showConfirmation('stockOut');
                      stockOutItemId = item.stockId;
                      deletedItemType = 'stockOut'
                    "
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill="currentColor"
                      d="M7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21zm2-4h2V8H9zm4 0h2V8h-2z"
                    />
                  </svg>
                  <span
                    *ngIf="item.loading"
                    class="spinner-border spinner-border-sm"
                    role="status"
                    aria-hidden="true"
                  ></span>
                </td>
                <td class="stock-table-td d-pointer" style="cursor: pointer">
                  <!-- edit icon -->
                  <svg
                    (click)="isReadonly = false"
                    style="color: #3ba3a5; cursor: pointer"
                    xmlns="http://www.w3.org/2000/svg"
                    width="25px"
                    height="25px"
                    viewBox="0 0 24 24"
                  >
                    <g
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                    >
                      <path
                        stroke-dasharray="20"
                        stroke-dashoffset="20"
                        d="M3 21h18"
                      >
                        <animate
                          fill="freeze"
                          attributeName="stroke-dashoffset"
                          dur="0.2s"
                          values="20;0"
                        />
                      </path>
                      <path
                        stroke-dasharray="48"
                        stroke-dashoffset="48"
                        d="M7 17v-4l10 -10l4 4l-10 10h-4"
                      >
                        <animate
                          fill="freeze"
                          attributeName="stroke-dashoffset"
                          begin="0.2s"
                          dur="0.6s"
                          values="48;0"
                        />
                      </path>
                      <path
                        stroke-dasharray="8"
                        stroke-dashoffset="8"
                        d="M14 6l4 4"
                      >
                        <animate
                          fill="freeze"
                          attributeName="stroke-dashoffset"
                          begin="0.8s"
                          dur="0.2s"
                          values="8;0"
                        />
                      </path>
                    </g>
                    <path
                      fill="currentColor"
                      fill-opacity="0"
                      d="M14 6l4 4L21 7L17 3Z"
                    >
                      <animate
                        fill="freeze"
                        attributeName="fill-opacity"
                        begin="1.1s"
                        dur="0.15s"
                        values="0;0.3"
                      />
                    </path>
                  </svg>
                </td>
              </tr>
            </ng-container>
            <ng-container *ngIf="loading">
              <tr>
                <td class="stock-table-td"><p-skeleton height="40px" /></td>
                <!-- <td  class="stock-table-td" contenteditable="true">{{ entry.quantity }}</td> -->
                <td class="stock-table-td"><p-skeleton height="40px" /></td>
                <td class="stock-table-td"><p-skeleton height="40px" /></td>
                <td class="stock-table-td"><p-skeleton height="40px" /></td>
                <td class="stock-table-td"><p-skeleton height="40px" /></td>
                <td class="stock-table-td"><p-skeleton height="40px" /></td>
                <td class="stock-table-td"><p-skeleton height="40px" /></td>
                <td class="stock-table-td"><p-skeleton height="40px" /></td>
              </tr>
            </ng-container>
            <tr>
              <td
                colspan="9"
                style="
                  height: 30px;
                  border: none;
                  background: transparent;
                  padding: 0;
                "
              ></td>
            </tr>
            <tr>
              <td class="stock-table-th" style="padding: 10px 0" colspan="2">
                Total Quantity
              </td>
              <td class="stock-table-td">{{ totalStockOutQuantity }}</td>
              <td></td>
              <td colspan="6" class="no-border"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <hr class="mt-5" />
    <div class="d-flex justify-content-end gap-4 mb-4" style="margin-top: 20px">
      <button
        (click)="outStockPopupVisible = false"
        type="button"
        class="btn-discard"
      >
        Discard
      </button>
      <button
        type="button"
        [ngClass]="{
          'btn-save':
            !updateStockOutLoading &&
            validationQuantity <= stockOutDetail.quantity,
          'btn-disable':
            updateStockOutLoading ||
            validationQuantity > stockOutDetail.quantity
        }"
        (click)="
          !updateStockOutLoading &&
          validationQuantity <= stockOutDetail.quantity
            ? editStockOutItems()
            : null
        "
      >
        Save
        <span
          *ngIf="updateStockOutLoading"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
      </button>
    </div>
  </p-dialog>
</div>
<p-toast />
<app-confirmation-popup
  [visible]="showConfirmationDialog"
  [message]="confirmationMessage"
  (onConfirm)="handleDelete()"
  (onCancel)="handleCancelled()"
>
</app-confirmation-popup>
