<div class="container-fluid">
  <div class="d-pointer">
    <span class="breadcrumb" [routerLink]="['/superAdmin/business/units']"
      >{{ this.businessUnitName }} /
    </span>
    <span
      class="breadcrumb-bold"
      style="cursor: pointer"
      [routerLink]="['/dairyFarm/feed']"
      >&nbsp;Feed /</span
    >
    <span class="breadcrumb-bold">&nbsp;Feed Detail</span>
  </div>
  <!-- User Header -->
  <div
    class="header-card d-flex align-items-center justify-content-between mb-4"
  >
    <div class="heading mb-0" style="color: #4079b0 !important">
      {{ FeedDetail.feedRef }}
    </div>
  </div>
  <!-- Customer Details -->
  <div
    class="d-flex justify-content-between align-items-center"
    style="margin-top: 70px"
  >
    <span class="heading" style="color: #4079b0 !important"> Feed Detail </span>
    <span *ngIf="isReadOnly" (click)="isReadOnly = false">
      <button class="edit-btn">EDIT</button>
    </span>
    <span *ngIf="!isReadOnly" class="d-flex justify-content-end gap-4">
      <button (click)="discardChanges()" type="button" class="btn-discard">
        Discard
      </button>
      <button
        type="button"
        (click)="editFeedForm.valid && !editLoading ? editFeedDetail() : null"
        [ngClass]="{
          'btn-save': editFeedForm.valid && !editLoading,
          'btn-disable': editFeedForm.invalid || editLoading
        }"
      >
        Save &nbsp;
        <span
          *ngIf="editLoading"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
      </button>
    </span>
  </div>
  <form [formGroup]="editFeedForm">
    <div class="row g-3 align-items-end mt-4">
      <div class="col-md-4 mb-4">
        <span class="label">Feed Id</span>
        <input
          type="text"
          [value]="FeedDetail.feedRef"
          class="input-felid"
          [readonly]="true"
          placeholder="Enter feed id..."
        />
      </div>
      <div class="col-md-4 mb-4 position-relative">
        <span class="label"
          >Animal Type<span class="required-icon">*</span>
        </span>
        <div class="alt-dropdown" [ngClass]="{ 'input-disable': isReadOnly }">
          <p-select
            [options]="AnimalTypes"
            optionLabel="type"
            optionValue="id"
            formControlName="animalId"
            placeholder="Animal Type"
          ></p-select>
          <span
            class="errorValidation"
            *ngIf="
              editFeedForm.get('animalId')?.touched &&
              editFeedForm.get('animalId')?.hasError('required')
            "
          >
            Required field
          </span>
        </div>
      </div>
      <div class="col-md-4 mb-4 position-relative">
        <span class="label">Supplier<span class="required-icon">*</span> </span>
        <div class="alt-dropdown" [ngClass]="{ 'input-disable': isReadOnly }">
          <p-select
            [options]="SupplierList"
            optionLabel="type"
            optionValue="id"
            formControlName="supplierId"
            placeholder="Supplier"
          ></p-select>
          <span
            class="errorValidation"
            *ngIf="
              editFeedForm.get('supplierId')?.touched &&
              editFeedForm.get('supplierId')?.hasError('required')
            "
          >
            Required field
          </span>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <span class="label">Feed name<span class="required-icon">*</span></span>
        <input
          type="text"
          class="input-felid"
          [ngClass]="{ 'input-disable': isReadOnly }"
          placeholder="Enter feed name..."
          formControlName="name"
        />
        <span
          class="errorValidation"
          *ngIf="
            editFeedForm.get('name')?.touched &&
            editFeedForm.get('name')?.hasError('required')
          "
        >
          Required field
        </span>
      </div>
      <div class="col-md-4 mb-4 position-relative">
        <span class="label">Quantity<span class="required-icon">*</span></span>
        <input
          type="number"
          class="input-felid"
          [ngClass]="{ 'input-disable': isReadOnly }"
          placeholder="Enter quantity..."
          formControlName="quantity"
        />
        <span
          class="errorValidation"
          *ngIf="
            editFeedForm.get('quantity')?.touched &&
            editFeedForm.get('quantity')?.hasError('required')
          "
        >
          Required field
        </span>
      </div>
      <div class="col-md-4 mb-4 position-relative">
        <span class="label">Feed Time<span class="required-icon">*</span></span>
        <input
          type="text"
          class="input-felid"
          [ngClass]="{ 'input-disable': isReadOnly }"
          placeholder="Enter feed time..."
          formControlName="feedTime"
        />
        <span
          class="errorValidation"
          *ngIf="
            editFeedForm.get('feedTime')?.touched &&
            editFeedForm.get('feedTime')?.hasError('required')
          "
        >
          Required field
        </span>
      </div>
      <div class="col-md-12 mb-4">
        <span class="label">Note</span>
        <textarea
          formControlName="note"
          class="input-felid my-input"
          placeholder="Enter note..."
          [ngClass]="{ 'input-disable': isReadOnly }"
        ></textarea>
      </div>
    </div>
  </form>
</div>
<p-toast />
