<div class="container py-4">
  <!-- User Header -->
  <div
    class="header-card d-flex align-items-center justify-content-between mb-4"
  >
    <div class="heading mb-0" style="color: #03192c">
      {{ ledgerDetail.accountTitle }}
    </div>
  </div>
  <!-- Customer Details -->
  <div class="d-flex justify-content-between align-items-center">
    <span class="heading"> Bank  Detail</span>
    <!-- <span *ngIf="isReadOnly" (click)="isReadOnly = false">
      <button class="edit-btn">EDIT</button>
    </span> -->
    <span *ngIf="!isReadOnly" class="d-flex justify-content-end gap-4">
      <button (click)="discardChanges()" type="button" class="btn-discard">
        Discard
      </button>
      <button
        type="button"
        (click)="
          editBankLedgerModel.valid && !editLoading ? editCustomerDetail() : null
        "
        [ngClass]="{
          'btn-save': editBankLedgerModel.valid && !editLoading,
          'btn-disable': editBankLedgerModel.invalid || editLoading
        }"
      >
        Save &nbsp;
        <span
          *ngIf="editLoading"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
      </button>
    </span>
  </div>
  <form [formGroup]="editBankLedgerModel">
    <div class="row g-3 align-items-end mt-4">
      <div class="col-md-4 mb-4">
        <span class="label">Account Title</span>
        <input
          type="text"
          formControlName="accountTitle"
          class="input-felid"
          [ngClass]="{ 'input-disable': isReadOnly }"
          class="input-felid"
          placeholder="Enter account title..."
        />
      </div>
      <div class="col-md-4 mb-4">
        <span class="label">Account Number</span>
        <input
          type="number"
          formControlName="accountNumber"
          class="input-felid"
          [ngClass]="{ 'input-disable': isReadOnly }"
          class="input-felid"
          placeholder="Enter account number..."
        />
      </div>
      <div class="col-md-4 mb-4">
        <span class="label">Bank Name</span>
        <input
          type="text"
          formControlName="bankName"
          class="input-felid input-disable" readonly
          placeholder="Enter bank number..."
        />
      </div>
      <div class="col-md-4 mb-4">
        <span class="label">Branch Code</span>
        <input
          type="text"
          formControlName="branchCode"
          class="input-felid"
          [ngClass]="{ 'input-disable': isReadOnly }"
          class="input-felid"
          placeholder="Enter branch code..."
        />
      </div>
      <div class="col-md-4 mb-4">
        <span class="label">City</span>
        <input
          type="text"
          formControlName="city"
          class="input-felid"
          [ngClass]="{ 'input-disable': isReadOnly }"
          class="input-felid"
          placeholder="Enter city..."
        />
      </div>
    </div>
  </form>
</div>
<p-toast />
