<div class="container-fluid">
  <div class="d-pointer">
    <span class="breadcrumb" style="text-transform: uppercase"
      >Dairy Farm /
    </span>
    <span class="breadcrumb-bold">&nbsp;Animal Detail</span>
  </div>
  <!-- User Header -->
  <div
    class="header-card d-flex align-items-center justify-content-between mb-4"
  >
    <div class="heading mb-0" style="color: #4079b0 !important">
      MILK PRODUCTION
    </div>
  </div>
  <!-- Customer Details -->
  <div
    class="d-flex justify-content-between align-items-center"
    style="margin-top: 70px"
  >
    <span class="heading" style="color: #4079b0 !important">
      Milk Production Detail
    </span>
    <span *ngIf="isReadOnly" (click)="isReadOnly = false">
      <button class="edit-btn">EDIT</button>
    </span>
    <span *ngIf="!isReadOnly" class="d-flex justify-content-end gap-4">
      <button (click)="discardChanges()" type="button" class="btn-discard">
        Discard
      </button>
      <button
        type="button"
        (click)="
          editMilkProductionModel.valid && !editLoading
            ? editLiveStockDetail()
            : null
        "
        [ngClass]="{
          'btn-save': editMilkProductionModel.valid && !editLoading,
          'btn-disable': editMilkProductionModel.invalid || editLoading
        }"
      >
        Save &nbsp;
        <span
          *ngIf="editLoading"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
      </button>
    </span>
  </div>
  <form [formGroup]="editMilkProductionModel">
    <div class="row g-3 align-items-end mt-4">
      <div class="col-md-4 mb-4">
        <span class="label1">Record id</span>
        <input
          type="text"
          class="input-felid"
          [readonly]="true"
          placeholder="Enter breed id..."
          [value]="MilkProductionDetail.milkProductionRef"
        />
      </div>
      <div class="col-md-4 mb-4 position-relative">
        <span class="label"
          >Animal ID<span class="required-icon">*</span>
        </span>
        <div class="alt-dropdown" [ngClass]="{ 'input-disable': isReadOnly }">
          <p-select
            [options]="AnimalList"
            name="key"
            optionLabel="type"
            optionValue="id"
            [showClear]="true"
            placeholder="Animal "
            formControlName="animalId"
          />
        </div>
      </div>
      <!-- <div class="col-md-4 mb-4 position-relative">
        <span class="label1">Animal id</span>
        <input
          type="text"
          value="COW"
          class="input-felid"
          [ngClass]="{ 'input-disable': isReadOnly }"
          placeholder="Enter type..."
          formControlName="animalId"
        />
      </div> -->
      <div class="col-md-4 mb-4">
        <span class="label1">Date</span>
        <input
          type="date"
          value="NILI-RAVI"
          class="input-felid custom-date"
          [ngClass]="{ 'input-disable': isReadOnly }"
          placeholder="Enter breed name..."
          formControlName="date"
        />
      </div>
      <div class="col-md-4 mb-4 position-relative">
        <span class="label1">MORNING(L)</span>
        <input
          type="text"
          value="PAKISTAN"
          class="input-felid"
          [ngClass]="{ 'input-disable': isReadOnly }"
          placeholder="Enter origin..."
          formControlName="morning"
        />
      </div>
      <div class="col-md-4 mb-4 position-relative">
        <span class="label1">EVENING(L)</span>
        <input
          type="text"
          value="PAKISTAN"
          class="input-felid"
          [ngClass]="{ 'input-disable': isReadOnly }"
          placeholder="Enter origin..."
          formControlName="evening"
        />
      </div>
      <div class="col-md-4 mb-4">
        <span class="label1">TOTAL(L)</span>
        <input
          type="text"
          value="HIGH MILK YIELD"
          class="input-felid"
          [ngClass]="{ 'input-disable': isReadOnly }"
          placeholder="Enter note..."
          formControlName="total"
        />
      </div>
    </div>
  </form>
</div>
<p-toast />
