<!-- <div class="container-fluid">
  <div class="d-pointer">
    <span class="breadcrumb" [routerLink]="['/superAdmin/business/units']"
      >{{ this.businessUnitName }} /
    </span>
    <span
      class="breadcrumb-bold"
      style="cursor: pointer"
      [routerLink]="['/dairyFarm/milk-production']"
      >&nbsp;Milk Production /</span
    >
    <span class="breadcrumb-bold">&nbsp;Milk Production Detail</span>
  </div>

  <div
    class="header-card d-flex align-items-center justify-content-between mb-4"
  >
    <div class="heading mb-0" style="color: #4079b0 !important">
      {{ MilkProductionDetail.milkProductionRef }}
    </div>
  </div>

  <div
    class="d-flex justify-content-between align-items-center"
    style="margin-top: 70px"
  >
    <span class="heading" style="color: #4079b0 !important">
      Milk Production Detail
    </span>
    <span *ngIf="isReadOnly" (click)="isReadOnly = false">
      <button class="edit-btn">EDIT</button>
    </span>
    <span *ngIf="!isReadOnly" class="d-flex justify-content-end gap-4">
      <button (click)="discardChanges()" type="button" class="btn-discard">
        Discard
      </button>
      <button
        type="button"
        (click)="
          editMilkProductionForm.valid && !editLoading
            ? editMilkProduction()
            : null
        "
        [ngClass]="{
          'btn-save': editMilkProductionForm.valid && !editLoading,
          'btn-disable': editMilkProductionForm.invalid || editLoading
        }"
      >
        Save &nbsp;
        <span
          *ngIf="editLoading"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
      </button>
    </span>
  </div>
  <form [formGroup]="editMilkProductionForm">
    <div class="row g-3 align-items-end mt-4">
      <div class="col-md-4 mb-4">
        <span class="label">Record Id</span>
        <input
          type="text"
          class="input-felid"
          [readonly]="true"
          placeholder="Enter record id..."
          [value]="MilkProductionDetail.milkProductionRef"
        />
      </div>
      <div class="col-md-4 mb-4 position-relative">
        <span class="label"
          >Animal Id<span class="required-icon">*</span>
        </span>
        <div class="alt-dropdown" [ngClass]="{ 'input-disable': isReadOnly }">
          <p-select
            [options]="AnimalList"
            name="key"
            optionLabel="type"
            optionValue="id"
            [showClear]="true"
            placeholder="Animal "
            formControlName="animalId"
          />
          <span
            class="errorValidation"
            *ngIf="
              editMilkProductionForm.get('animalId')?.touched &&
              editMilkProductionForm.get('animalId')?.hasError('required')
            "
          >
            Required field
          </span>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <span class="label">Date<span class="required-icon">*</span></span>
        <input
          type="date"
          class="input-felid custom-date"
          [ngClass]="{ 'input-disable': isReadOnly }"
          formControlName="date"
        />
        <span
          class="errorValidation"
          *ngIf="
            editMilkProductionForm.get('date')?.touched &&
            editMilkProductionForm.get('date')?.hasError('required')
          "
        >
          Required field
        </span>
      </div>
      <div class="col-md-4 mb-4 position-relative">
        <span class="label"
          >Morning(L)<span class="required-icon">*</span></span
        >
        <input
          type="number"
          value="PAKISTAN"
          class="input-felid"
          [ngClass]="{ 'input-disable': isReadOnly }"
          placeholder="Enter quantity..."
          formControlName="morning"
        />
        <span
          class="errorValidation"
          *ngIf="
            editMilkProductionForm.get('morning')?.touched &&
            editMilkProductionForm.get('morning')?.hasError('required')
          "
        >
          Required field
        </span>
      </div>
      <div class="col-md-4 mb-4 position-relative">
        <span class="label"
          >Evening(L)<span class="required-icon">*</span></span
        >
        <input
          type="number"
          value="PAKISTAN"
          class="input-felid"
          [ngClass]="{ 'input-disable': isReadOnly }"
          placeholder="Enter quantity..."
          formControlName="evening"
        />

        <span
          class="errorValidation"
          *ngIf="
            editMilkProductionForm.get('evening')?.touched &&
            editMilkProductionForm.get('evening')?.hasError('required')
          "
        >
          Required field
        </span>
      </div>
      <div class="col-md-4 mb-4">
        <span class="label">Total(L)<span class="required-icon">*</span></span>
        <input
          type="number"
          value="HIGH MILK YIELD"
          class="input-felid"
          [ngClass]="{ 'input-disable': isReadOnly }"
          placeholder="Enter quantity..."
          formControlName="total"
        />
        <span
          class="errorValidation"
          *ngIf="
            editMilkProductionForm.get('total')?.touched &&
            editMilkProductionForm.get('total')?.hasError('required')
          "
        >
          Required field
        </span>
      </div>
      <div class="col-md-4 mb-4">
        <span class="label"> Fat %</span>
        <input
          type="number"
          value="HIGH MILK YIELD"
          class="input-felid"
          [ngClass]="{ 'input-disable': isReadOnly }"
          placeholder="Enter fat %..."
          formControlName="total"
        />
      </div>
      <div class="col-md-4 mb-4">
        <span class="label">Snf %</span>
        <input
          type="number"
          value="HIGH MILK YIELD"
          class="input-felid"
          [ngClass]="{ 'input-disable': isReadOnly }"
          placeholder="Enter snf %..."
          formControlName="total"
        />
      </div>
    </div>
  </form>
</div>
<p-toast /> -->
