<div class="container-fluid">
  <span class="d-flex flex-wrap justify-content-between">
    <span class="d-flex flex-wrap">
      <div class="position-relative searchinput mt-4 mb-3">
        <svg
          class="position-absolute search-icon"
          xmlns="http://www.w3.org/2000/svg"
          width="25px"
          height="25px"
          style="top: 7px; left: 10px"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="m19.6 21l-6.3-6.3q-.75.6-1.725.95T9.5 16q-2.725 0-4.612-1.888T3 9.5t1.888-4.612T9.5 3t4.613 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l6.3 6.3zM9.5 14q1.875 0 3.188-1.312T14 9.5t-1.312-3.187T9.5 5T6.313 6.313T5 9.5t1.313 3.188T9.5 14"
          />
        </svg>
        <input
          type="text"
          autocomplete="off"
          (keyup)="SearchBySearchKey($event)"
          (keyup.enter)="getUsers()"
          style="padding-left: 40px"
          [(ngModel)]="searchKey"
          class="search-input"
          name="searchValue"
          placeholder="Search Name,Email..."
        />
        <div style="position: absolute; top: 4px; right: 0">
          <svg
            class="search-cross-icon"
            *ngIf="searchKey != null"
            (click)="searchKey = null; getUsers()"
            style="
              margin-top: 6px !important;
              margin-right: 10px !important;
              color: #ed5d25;
            "
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <g fill="currentColor" fill-rule="evenodd" clip-rule="evenodd">
              <path
                d="M5.47 5.47a.75.75 0 0 1 1.06 0l12 12a.75.75 0 1 1-1.06 1.06l-12-12a.75.75 0 0 1 0-1.06"
              />
              <path
                d="M18.53 5.47a.75.75 0 0 1 0 1.06l-12 12a.75.75 0 0 1-1.06-1.06l12-12a.75.75 0 0 1 1.06 0"
              />
            </g>
          </svg>
        </div>
      </div>
      <span class="alarms mt-4 mb-3 mx-3">
        <p-select
          [options]="businessTypes"
          [(ngModel)]="businessTypeId"
          optionLabel="type"
          optionValue="id"
          (onChange)="ngAfterViewInit()"
          [showClear]="true"
          placeholder="Business Type"
        />
      </span>
      <span class="alarms mt-4 mb-3 mx-3">
        <p-select
          [options]="businessUnitTypes"
          [(ngModel)]="businessUnitId"
          optionLabel="type"
          optionValue="id"
          (onChange)="ngAfterViewInit()"
          [showClear]="true"
          placeholder="Business Unit"
        />
      </span>
      <span class="alarms mt-4 mb-3 mx-3 d-flex align-items-center">
        <p-checkbox
          (onChange)="ngAfterViewInit()"
          [binary]="true"
          inputId="binary"
          inputId="ny"
          [(ngModel)]="isActive"
        />
        <label class="form-select" for="tricheckbox" class="mx-2">Active</label>
      </span>
    </span>

    <div class="d-flex align-items-center gap-5">
      <span
        (click)="ResetFilter()"
        *ngIf="
          searchKey != null ||
          businessTypeId != null ||
          businessUnitId ||
          isActive != null
        "
        class="tableText-bold mt-2"
        style="color: #e83838; font-weight: 700"
      >
        Reset Filter
      </span>
      <button
        (click)="visible = true; initForm()"
        class="btn mt-4 mb-3"
        style="min-width: 120px"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          viewBox="0 0 24 24"
        >
          <g
            fill="none"
            stroke="currentColor"
            stroke-dasharray="16"
            stroke-dashoffset="16"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          >
            <path d="M5 12h14">
              <animate
                fill="freeze"
                attributeName="stroke-dashoffset"
                dur="0.48s"
                values="16;0"
              />
            </path>
            <path d="M12 5v14">
              <animate
                fill="freeze"
                attributeName="stroke-dashoffset"
                begin="0.48s"
                dur="0.48s"
                values="16;0"
              />
            </path>
          </g>
        </svg>
        New User
      </button>
    </div>
  </span>
  <div class="mat-elevation-z8 mt-4 rounded-table">
    <div class="table-responsive">
      <table mat-table matSort [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="img">
          <th mat-header-cell *matHeaderCellDef class="table-header">Image</th>
          <td mat-cell *matCellDef="let element">
            <img
              src="{{ element.imageLink }}"
              width="40px"
              height="40px"
              style="border-radius: 5px"
            />
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            style="min-width: 140px"
          >
            Name
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="tableText-bold"
            [routerLink]="['/superAdmin/users/edit', element.userId]"
          >
            {{ element.fullName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef class="table-header">Email</th>
          <td mat-cell *matCellDef="let element" class="tableText-thin">
            {{ element.email }}
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            style="min-width: 350px"
          >
            Actions for Business Unit and Roles
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex gap-3">
              <div
                (click)="
                  getAllBusinessUnits(element.userId);
                  applicationUserId = element.userId;
                  isViewPopup = true
                "
                class="action"
                style="background: #02a9dd"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  style="color: white; cursor: pointer"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                >
                  <g
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                  >
                    <path d="M15 12a3 3 0 1 1-6 0a3 3 0 0 1 6 0" />
                    <path
                      d="M2 12c1.6-4.097 5.336-7 10-7s8.4 2.903 10 7c-1.6 4.097-5.336 7-10 7s-8.4-2.903-10-7"
                    />
                  </g>
                </svg>
              </div>
              <div
                (click)="
                  getAllBusinessUnits(element.userId);
                  applicationUserId = element.userId;
                  isAssignPopup = true;
                  type = 'add'
                "
                class="action"
                style="background: #2da98a"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  style="color: white; cursor: pointer"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                >
                  <path
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    d="M6 12h6m6 0h-6m0 0V6m0 6v6"
                  />
                </svg>
              </div>
              <div
                (click)="
                  getAllAddedBusinessUnits(element.userId);
                  applicationUserId = element.userId;
                  isUpdatePopup = true
                "
                class="action"
                style="background: #02a9dd"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  style="color: white; cursor: pointer"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                >
                  <path
                    fill="currentColor"
                    d="M5 19h1.425L16.2 9.225L14.775 7.8L5 17.575zm-2 2v-4.25L16.2 3.575q.3-.275.663-.425t.762-.15t.775.15t.65.45L20.425 5q.3.275.438.65T21 6.4q0 .4-.137.763t-.438.662L7.25 21zM19 6.4L17.6 5zm-3.525 2.125l-.7-.725L16.2 9.225z"
                  />
                </svg>
              </div>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="forget">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            style="min-width: 400px"
          ></th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex justify-content-center align-items-center gap-3">
              <div
                class="tableText-bold"
                (click)="
                  applicationUserId = element.userId; resetPopupVisible = true
                "
                style="color: #e83838"
              >
                Reset Password
              </div>

              <div class="status-toggle d-flex my-1">
                <div
                  class="status-pill"
                  [ngClass]="{ active: element.isActive }"
                  (click)="
                    element.isActive = true;
                    editUserStatus(element.userId, element.isActive)
                  "
                >
                  <svg
                    *ngIf="element.isActive"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    style="margin-right: 10px"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill="currentColor"
                      d="M12 2C6.5 2 2 6.5 2 12s4.5 10 10 10s10-4.5 10-10S17.5 2 12 2m0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8s8 3.59 8 8s-3.59 8-8 8m4.59-12.42L10 14.17l-2.59-2.58L6 13l4 4l8-8z"
                    />
                  </svg>
                  Active
                </div>
                <div
                  class="status-pill"
                  [ngClass]="{ active: !element.isActive, inactive: true }"
                  (click)="
                    element.isActive = false;
                    editUserStatus(element.userId, element.isActive)
                  "
                >
                  <svg
                    *ngIf="!element.isActive"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    style="margin-right: 10px"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill="currentColor"
                      d="M12 2C6.5 2 2 6.5 2 12s4.5 10 10 10s10-4.5 10-10S17.5 2 12 2m0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8s8 3.59 8 8s-3.59 8-8 8m4.59-12.42L10 14.17l-2.59-2.58L6 13l4 4l8-8z"
                    />
                  </svg>
                  Inactive
                </div>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
  <app-data-not-found *ngIf="usersList.length == 0 && !isLoadingResults" />
  <div class="skelton" *ngIf="isLoadingResults">
    <app-loading></app-loading>
  </div>
  <mat-paginator
    pageSize="10"
    [length]="resultsLength"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
<div class="flex justify-center">
  <p-dialog
    header="Add User"
    [modal]="true"
    [(visible)]="visible"
    [draggable]="false"
    [resizable]="false"
    contentStyleClass="responsive-dialog"
  >
    <form [formGroup]="addUserModel">
      <div class="row">
        <div>
          <div class="name">
            <span class="label">Name<span class="required-icon">*</span> </span>
            <input
              type="text"
              formControlName="fullName"
              name="no-autofill-name"
              autocomplete="new-name"
              class="input-felid"
              placeholder="Enter name..."
            />
            <span
              class="errorValidation"
              *ngIf="addUserModel.controls['fullName'].touched && addUserModel.controls['fullName'].errors?.['required']"
              >Enter name.
            </span>
          </div>
          <div class="mt-3">
            <span class="label">Email<span class="required-icon">*</span></span>
            <input
              type="email"
              formControlName="email"
              name="no-autofill-email"
              autocomplete="new-email"
              class="input-felid"
              placeholder="Enter email..."
            />
            <span
              class="errorValidation"
              *ngIf="addUserModel.controls['email'].touched && addUserModel.controls['email'].errors?.['required']"
              >Enter email.
            </span>
             <span
            class="errorValidation"
            *ngIf="addUserModel.controls['email'].touched && addUserModel.controls['email'].errors?.['pattern']"
          >
            Please enter a valid email address.
          </span>
          </div>
          <div class="position-relative mt-3">
            <span class="label"
              >Password<span class="required-icon">*</span></span
            >
            <input
              type="text"
              style="display: none"
              class="input-felid"
              placeholder="Enter farm name..."
            />

            <input
              [type]="showNewPassword ? 'text' : 'password'"
              formControlName="password"
              class="input-felid"
              placeholder="Enter password..."
            />
            <svg
              class="show-password-icon"
              (click)="showNewHidePassword()"
              *ngIf="!this.showNewPassword"
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              height="30"
              viewBox="0 0 14 14"
            >
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="M2.933 3.491C4.056 2.681 5.456 2 7 2s2.944.682 4.067 1.491c1.128.812 2.02 1.784 2.56 2.437l.005.005c.241.3.368.681.368 1.067c0 .386-.127.766-.368 1.067l-.005.005c-.54.653-1.432 1.625-2.56 2.437C9.944 11.32 8.544 12 7 12s-2.944-.682-4.067-1.49C1.805 9.696.913 8.724.373 8.071l-.005-.005A1.7 1.7 0 0 1 0 7c0-.386.127-.766.368-1.067l.005-.005c.54-.653 1.432-1.625 2.56-2.437M7 9.25a2.25 2.25 0 1 0 0-4.5a2.25 2.25 0 0 0 0 4.5"
                clip-rule="evenodd"
              />
            </svg>
            <svg
              class="show-password-icon"
              (click)="showNewHidePassword()"
              *ngIf="this.showNewPassword"
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              height="30"
              viewBox="0 0 1024 1024"
            >
              <path
                fill="currentColor"
                d="M508 624a112 112 0 0 0 112-112c0-3.28-.15-6.53-.43-9.74L498.26 623.57c3.21.28 6.45.43 9.74.43m370.72-458.44L836 122.88a8 8 0 0 0-11.31 0L715.37 232.23Q624.91 186 512 186q-288.3 0-430.2 300.3a60.3 60.3 0 0 0 0 51.5q56.7 119.43 136.55 191.45L112.56 835a8 8 0 0 0 0 11.31L155.25 889a8 8 0 0 0 11.31 0l712.16-712.12a8 8 0 0 0 0-11.32M332 512a176 176 0 0 1 258.88-155.28l-48.62 48.62a112.08 112.08 0 0 0-140.92 140.92l-48.62 48.62A175.09 175.09 0 0 1 332 512"
              />
              <path
                fill="currentColor"
                d="M942.2 486.2Q889.4 375 816.51 304.85L672.37 449A176.08 176.08 0 0 1 445 676.37L322.74 798.63Q407.82 838 512 838q288.3 0 430.2-300.3a60.29 60.29 0 0 0 0-51.5"
              />
            </svg>
          </div>
          <span
            class="errorValidation"
            *ngIf="addUserModel.controls['password'].touched && addUserModel.controls['password'].errors?.['required']"
            >Enter password.
          </span>
          <span
            class="errorValidation"
            *ngIf="addUserModel.controls['password'].touched && addUserModel.controls['password'].errors?.['pattern']"
          >
            Password must be a minimum length of 8 characters containing
            uppercase, lowercase letters, a number and a symbol.
          </span>
        </div>
      </div>
      <hr class="mt-5" />
      <div
        class="d-flex justify-content-end gap-4 mb-4"
        style="margin-top: 20px"
      >
        <button (click)="visible = false" type="button" class="btn-discard">
          Discard
        </button>
        <button
          type="button"
          (click)="addUser()"
          [ngClass]="{
            'btn-save': addUserModel.valid && !addLoading,
            'btn-disable': addUserModel.invalid || addLoading
          }"
        >
          Save &nbsp;
          <span
            *ngIf="addLoading"
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
        </button>
      </div>
    </form>
  </p-dialog>
</div>

<!-- Just For View Not For Assign and Edit  -->
<div class="flex justify-center">
  <p-dialog
    header="Assign Business Unit and Role"
    [modal]="true"
    [(visible)]="isViewPopup"
    [draggable]="false"
    [resizable]="false"
    contentStyleClass="responsive-roles-dialog"
  >
    <!-- <form  > -->
    <div class="business">
      <h6 class="business-title">Cold Store</h6>
      <div *ngIf="!loading" class="row">
        <div class="unit-table p-0">
          <div class="table-header d-flex">
            <div class="header-cell">BUSINESS UNIT</div>
            <div class="header-cell">ROLE</div>
          </div>
          <ng-container *ngFor="let item of coldStoreUnitList">
            <div class="table-row d-flex" *ngIf="item.isAdded == true">
              <!-- BUSINESS UNIT CELL -->
              <div class="table-cell">
                <p-checkbox
                  [(ngModel)]="item.isAdded"
                  [binary]="true"
                  [disabled]="true"
                ></p-checkbox>

                <span
                  class="business-title text-ellipsis"
                  title="{{ item.name }}"
                >
                  {{ item.name }}
                </span>
              </div>

              <!-- ROLE CELL -->
              <div class="table-cell">
                <span style="width: 120px !important">
                  <select
                    [(ngModel)]="item.userRoleId"
                    class="table-td-input"
                    [disabled]="!item.isChecked"
                  >
                    <option
                      *ngFor="let option of userRoles"
                      [value]="option.id"
                    >
                      {{ option.type }}
                    </option>
                  </select>
                </span>
                <div
                  class="errorValidation"
                  *ngIf="item.isAdded && !item.userRoleId"
                >
                  Please select a role.
                </div>
              </div>
            </div>
          </ng-container>
          <app-data-not-found *ngIf="coldStoreUnitList.length == 0" />
        </div>
      </div>
      <div *ngIf="loading" class="row">
        <div class="col-6 mb-4">
          <p-skeleton height="100px"></p-skeleton>
        </div>
        <div class="col-6 mb-4">
          <p-skeleton height="100px"></p-skeleton>
        </div>
      </div>
    </div>

    <!-- Section: Poultry Farm -->
    <div class="section mt-4">
      <h6 class="business-title">Poultry Farm</h6>
      <div *ngIf="!loading" class="row">
        <div class="unit-table p-0">
          <div class="table-header d-flex">
            <div class="header-cell">BUSINESS UNIT</div>
            <div class="header-cell">ROLE</div>
          </div>
          <ng-container *ngFor="let item of poultryFarmUnitList">
            <div class="table-row d-flex" *ngIf="item.isAdded == true">
              <!-- BUSINESS UNIT CELL -->
              <div class="table-cell">
                <p-checkbox
                  [(ngModel)]="item.isAdded"
                  [binary]="true"
                  [disabled]="true"
                ></p-checkbox>

                <span
                  class="business-title text-ellipsis"
                  title="{{ item.name }}"
                >
                  {{ item.name }}
                </span>
              </div>

              <!-- ROLE CELL -->
              <div class="table-cell">
                <span style="width: 120px !important">
                  <select
                    [(ngModel)]="item.userRoleId"
                    class="table-td-input"
                    [disabled]="!item.isChecked"
                  >
                    <option
                      *ngFor="let option of userRoles"
                      [value]="option.id"
                    >
                      {{ option.type }}
                    </option>
                  </select>
                </span>
                <div
                  class="errorValidation"
                  *ngIf="item.isAdded && !item.userRoleId"
                >
                  Please select a role.
                </div>
              </div>
            </div>
          </ng-container>
          <app-data-not-found *ngIf="poultryFarmUnitList.length == 0" />
        </div>
      </div>
      <div *ngIf="loading" class="row">
        <div class="col-6 mb-4">
          <p-skeleton height="100px"></p-skeleton>
        </div>
        <div class="col-6 mb-4">
          <p-skeleton height="100px"></p-skeleton>
        </div>
      </div>
    </div>
    <!-- Section: Storage Unit -->
    <div class="section mt-4">
      <h6 class="business-title">Storage Unit</h6>
      <div *ngIf="!loading" class="row">
        <div class="unit-table p-0">
          <div class="table-header d-flex">
            <div class="header-cell">BUSINESS UNIT</div>
            <div class="header-cell">ROLE</div>
          </div>
          <ng-container *ngFor="let item of storageUnitList">
            <div class="table-row d-flex" *ngIf="item.isAdded == true">
              <!-- BUSINESS UNIT CELL -->
              <div class="table-cell">
                <p-checkbox
                  [(ngModel)]="item.isAdded"
                  [binary]="true"
                  [disabled]="true"
                ></p-checkbox>

                <span
                  class="business-title text-ellipsis"
                  title="{{ item.name }}"
                >
                  {{ item.name }}
                </span>
              </div>

              <!-- ROLE CELL -->
              <div class="table-cell">
                <span style="width: 120px !important">
                  <select
                    [(ngModel)]="item.userRoleId"
                    class="table-td-input"
                    [disabled]="!item.isChecked"
                  >
                    <option
                      *ngFor="let option of userRoles"
                      [value]="option.id"
                    >
                      {{ option.type }}
                    </option>
                  </select>
                </span>
                <div
                  class="errorValidation"
                  *ngIf="item.isAdded && !item.userRoleId"
                >
                  Please select a role.
                </div>
              </div>
            </div>
          </ng-container>
          <app-data-not-found *ngIf="storageUnitList.length == 0" />
        </div>
      </div>
      <div *ngIf="loading" class="row">
        <div class="col-6 mb-4">
          <p-skeleton height="100px"></p-skeleton>
        </div>
        <div class="col-6 mb-4">
          <p-skeleton height="100px"></p-skeleton>
        </div>
      </div>
    </div>
  </p-dialog>
</div>

<!-- Assign To Users -->
<div class="flex justify-center">
  <p-dialog
    header="Assign Business Unit and Role"
    [modal]="true"
    [(visible)]="isAssignPopup"
    contentStyleClass="responsive-roles-dialog"
    [draggable]="false"
    [resizable]="false"
  >
    <!-- <form  > -->
    <div class="business">
      <h6 class="business-title">Cold Store</h6>
      <div *ngIf="!loading" class="row">
        <div class="unit-table p-0">
          <div class="table-header d-flex">
            <div class="header-cell">BUSINESS UNIT</div>
            <div class="header-cell">ROLE</div>
          </div>
          <ng-container *ngFor="let item of coldStoreUnitList">
            <div class="table-row d-flex" *ngIf="item.isAdded == false">
              <!-- BUSINESS UNIT CELL -->
              <div class="table-cell">
                <p-checkbox
                  [binary]="true"
                  [(ngModel)]="item.isChecked"
                  (onChange)="checkedBusinessUnitCounts(item)"
                ></p-checkbox>

                <span
                  class="business-title text-ellipsis"
                  title="{{ item.name }}"
                >
                  {{ item.name }}
                </span>
              </div>

              <!-- ROLE CELL -->
              <div class="table-cell">
                <select
                  [(ngModel)]="item.userRoleId"
                  class="table-td-input"
                  [disabled]="!item.isChecked"
                  (change)="isValidAssignment()"
                >
                  <option [ngValue]="null" disabled selected hidden>
                    User Type
                  </option>
                  <option
                    *ngFor="let option of userRoles"
                    [ngValue]="option.id"
                  >
                    {{ option.type }}
                  </option>
                </select>
                <span
                  class="errorValidation"
                  *ngIf="item.isChecked && item.userRoleId == undefined"
                  >Please select a role.</span
                >
              </div>
            </div>
          </ng-container>
          <app-data-not-found *ngIf="coldStoreUnitList.length == 0" />
        </div>
      </div>
      <div *ngIf="loading" class="row">
        <div class="col-6 mb-4">
          <p-skeleton height="100px"></p-skeleton>
        </div>
        <div class="col-6 mb-4">
          <p-skeleton height="100px"></p-skeleton>
        </div>
      </div>
    </div>

    <!-- Section: Poultry Farm -->
    <div class="section mt-4">
      <h6 class="business-title">Poultry Farm</h6>
      <div *ngIf="!loading" class="row">
        <div class="unit-table p-0">
          <div class="table-header d-flex">
            <div class="header-cell">BUSINESS UNIT</div>
            <div class="header-cell">ROLE</div>
          </div>
          <ng-container *ngFor="let item of poultryFarmUnitList">
            <div class="table-row d-flex" *ngIf="item.isAdded == false">
              <!-- BUSINESS UNIT CELL -->
              <div class="table-cell">
                <p-checkbox
                  [binary]="true"
                  [(ngModel)]="item.isChecked"
                  (onChange)="checkedBusinessUnitCounts(item)"
                ></p-checkbox>

                <span
                  class="business-title text-ellipsis"
                  title="{{ item.name }}"
                >
                  {{ item.name }}
                </span>
              </div>

              <!-- ROLE CELL -->
              <div class="table-cell">
                <select
                  [(ngModel)]="item.userRoleId"
                  class="table-td-input"
                  [disabled]="!item.isChecked"
                  (change)="isValidAssignment()"
                >
                  <option [ngValue]="null" disabled selected hidden>
                    User Type
                  </option>
                  <option
                    *ngFor="let option of userRoles"
                    [ngValue]="option.id"
                  >
                    {{ option.type }}
                  </option>
                </select>
                <span
                  class="errorValidation"
                  *ngIf="item.isChecked && item.userRoleId == undefined"
                  >Please select a role.</span
                >
              </div>
            </div>
          </ng-container>
          <app-data-not-found *ngIf="poultryFarmUnitList.length == 0" />
        </div>
      </div>
      <div *ngIf="loading" class="row">
        <div class="col-6 mb-4">
          <p-skeleton height="100px"></p-skeleton>
        </div>
        <div class="col-6 mb-4">
          <p-skeleton height="100px"></p-skeleton>
        </div>
      </div>
    </div>
    <!-- Section: Poultry Farm -->
    <div class="section mt-4">
      <h6 class="business-title">Storage Unit</h6>
      <div *ngIf="!loading" class="row">
        <div class="unit-table p-0">
          <div class="table-header d-flex">
            <div class="header-cell">BUSINESS UNIT</div>
            <div class="header-cell">ROLE</div>
          </div>
          <ng-container *ngFor="let item of storageUnitList">
            <div class="table-row d-flex" *ngIf="item.isAdded == false">
              <!-- BUSINESS UNIT CELL -->
              <div class="table-cell">
                <p-checkbox
                  [binary]="true"
                  [(ngModel)]="item.isChecked"
                  (onChange)="checkedBusinessUnitCounts(item)"
                ></p-checkbox>

                <span
                  class="business-title text-ellipsis"
                  title="{{ item.name }}"
                >
                  {{ item.name }}
                </span>
              </div>

              <!-- ROLE CELL -->
              <div class="table-cell">
                <select
                  [(ngModel)]="item.userRoleId"
                  class="table-td-input"
                  [disabled]="!item.isChecked"
                  (change)="isValidAssignment()"
                >
                  <option [ngValue]="null" disabled selected hidden>
                    User Type
                  </option>
                  <option
                    *ngFor="let option of userRoles"
                    [ngValue]="option.id"
                  >
                    {{ option.type }}
                  </option>
                </select>
                <span
                  class="errorValidation"
                  *ngIf="item.isChecked && item.userRoleId == undefined"
                  >Please select a role.</span
                >
              </div>
            </div>
          </ng-container>
          <app-data-not-found *ngIf="storageUnitList.length == 0" />
        </div>
      </div>
      <div *ngIf="loading" class="row">
        <div class="col-6 mb-4">
          <p-skeleton height="100px"></p-skeleton>
        </div>
        <div class="col-6 mb-4">
          <p-skeleton height="100px"></p-skeleton>
        </div>
      </div>
    </div>
    <hr *ngIf="type != 'view' && !loading" class="mt-5" />
    <div
      *ngIf="type != 'view' && !loading"
      class="d-flex justify-content-end gap-4 mb-4"
      style="margin-top: 20px"
    >
      <button (click)="isAssignPopup = false" type="button" class="btn-discard">
        Discard
      </button>
      <button
        type="button"
        (click)="
          userBusinessUnitAndRoleDtosCount != 0 &&
          !assignLoading &&
          isValidAssignment()
            ? submitAssignedUnits()
            : null
        "
        [ngClass]="{
          'btn-save':
            userBusinessUnitAndRoleDtosCount != 0 &&
            !assignLoading &&
            isValidAssignment(),
          'btn-disable':
            userBusinessUnitAndRoleDtosCount == 0 ||
            assignLoading ||
            !isValidAssignment()
        }"
      >
        Save &nbsp;
        <span
          *ngIf="assignLoading"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
      </button>
    </div>

    <!-- </form> -->
  </p-dialog>
</div>

<!-- Edit Assign business unit -->
<div class="flex justify-center">
  <p-dialog
    header="Edit Business Unit and Role  
"
    [modal]="true"
    [(visible)]="isUpdatePopup"
    contentStyleClass="responsive-roles-dialog"
    [draggable]="false"
    [resizable]="false"
  >
    <!-- <form  > -->
    <div class="business">
      <h6 class="business-title">Cold Store</h6>
      <div *ngIf="!loading" class="row">
        <div class="unit-table p-0">
          <div class="table-header d-flex">
            <div class="header-cell">BUSINESS UNIT</div>
            <div class="header-cell">ROLE</div>
          </div>
          <ng-container *ngFor="let item of addedColdStoreUnitList">
            <div class="table-row d-flex">
              <!-- BUSINESS UNIT CELL -->
              <div class="table-cell">
                <p-checkbox
                  [binary]="true"
                  [(ngModel)]="item.isChecked"
                  (onChange)="checkedEditBusinessUnitCounts(item)"
                ></p-checkbox>

                <span
                  class="business-title text-ellipsis"
                  title="{{ item.name }}"
                >
                  {{ item.name }}
                </span>
              </div>

              <!-- ROLE CELL -->
              <div class="table-cell">
                <select
                  [(ngModel)]="item.userRoleId"
                  class="table-td-input"
                  [disabled]="!item.isChecked"
                  (change)="isEditValidAssignment()"
                >
                  <option [ngValue]="null" disabled selected hidden>
                    User Type
                  </option>
                  <option
                    *ngFor="let option of userRoles"
                    [ngValue]="option.id"
                  >
                    {{ option.type }}
                  </option>
                </select>
                <span
                  class="errorValidation"
                  *ngIf="item.isChecked && item.userRoleId == undefined"
                  >Please select a role.</span
                >
              </div>
            </div>
          </ng-container>
          <app-data-not-found *ngIf="addedColdStoreUnitList.length == 0" />
        </div>
      </div>
      <div *ngIf="loading" class="row">
        <div class="col-6 mb-4">
          <p-skeleton height="100px"></p-skeleton>
        </div>
        <div class="col-6 mb-4">
          <p-skeleton height="100px"></p-skeleton>
        </div>
      </div>
    </div>

    <!-- Section: Poultry Farm -->
    <div class="section mt-4">
      <h6 class="business-title">Poultry Farm</h6>
      <div *ngIf="!loading" class="row">
        <div class="unit-table p-0">
          <div class="table-header d-flex">
            <div class="header-cell">BUSINESS UNIT</div>
            <div class="header-cell">ROLE</div>
          </div>
          <ng-container *ngFor="let item of addedPoultryFarmUnitList">
            <div class="table-row d-flex">
              <!-- BUSINESS UNIT CELL -->
              <div class="table-cell">
                <p-checkbox
                  [binary]="true"
                  [(ngModel)]="item.isChecked"
                  (onChange)="checkedEditBusinessUnitCounts(item)"
                ></p-checkbox>

                <span
                  class="business-title text-ellipsis"
                  title="{{ item.name }}"
                >
                  {{ item.name }}
                </span>
              </div>

              <!-- ROLE CELL -->
              <div class="table-cell">
                <select
                  [(ngModel)]="item.userRoleId"
                  class="table-td-input"
                  [disabled]="!item.isChecked"
                  (change)="isEditValidAssignment()"
                >
                  <option [ngValue]="null" disabled selected hidden>
                    User Type
                  </option>
                  <option
                    *ngFor="let option of userRoles"
                    [ngValue]="option.id"
                  >
                    {{ option.type }}
                  </option>
                </select>
                <span
                  class="errorValidation"
                  *ngIf="item.isChecked && item.userRoleId == undefined"
                  >Please select a role.</span
                >
              </div>
            </div>
          </ng-container>
          <app-data-not-found *ngIf="addedPoultryFarmUnitList.length == 0" />
        </div>
      </div>
      <div *ngIf="loading" class="row">
        <div class="col-6 mb-4">
          <p-skeleton height="100px"></p-skeleton>
        </div>
        <div class="col-6 mb-4">
          <p-skeleton height="100px"></p-skeleton>
        </div>
      </div>
    </div>
    <!-- Section: Poultry Farm -->
    <div class="section mt-4">
      <h6 class="business-title">Storage Unit</h6>
      <div *ngIf="!loading" class="row">
        <div class="unit-table p-0">
          <div class="table-header d-flex">
            <div class="header-cell">BUSINESS UNIT</div>
            <div class="header-cell">ROLE</div>
          </div>
          <ng-container *ngFor="let item of addedStorageUnitList">
            <div class="table-row d-flex">
              <!-- BUSINESS UNIT CELL -->
              <div class="table-cell">
                <p-checkbox
                  [binary]="true"
                  [(ngModel)]="item.isChecked"
                  (onChange)="checkedEditBusinessUnitCounts(item)"
                ></p-checkbox>

                <span
                  class="business-title text-ellipsis"
                  title="{{ item.name }}"
                >
                  {{ item.name }}
                </span>
              </div>

              <!-- ROLE CELL -->
              <div class="table-cell">
                <select
                  [(ngModel)]="item.userRoleId"
                  class="table-td-input"
                  [disabled]="!item.isChecked"
                  (change)="isEditValidAssignment()"
                >
                  <option [ngValue]="null" disabled selected hidden>
                    User Type
                  </option>
                  <option
                    *ngFor="let option of userRoles"
                    [ngValue]="option.id"
                  >
                    {{ option.type }}
                  </option>
                </select>
                <span
                  class="errorValidation"
                  *ngIf="item.isChecked && item.userRoleId == undefined"
                  >Please select a role.</span
                >
              </div>
            </div>
          </ng-container>
          <app-data-not-found *ngIf="addedStorageUnitList.length == 0" />
        </div>
      </div>
      <div *ngIf="loading" class="row">
        <div class="col-6 mb-4">
          <p-skeleton height="100px"></p-skeleton>
        </div>
        <div class="col-6 mb-4">
          <p-skeleton height="100px"></p-skeleton>
        </div>
      </div>
    </div>
    <hr *ngIf="!loading" class="mt-5" />
    <div
      *ngIf="!loading"
      class="d-flex justify-content-end gap-4 mb-4"
      style="margin-top: 20px"
    >
      <button (click)="isUpdatePopup = false" type="button" class="btn-discard">
        Discard
      </button>
      <button
        type="button"
        (click)="
          !editLoading && isEditValidAssignment()
            ? submitAddedAssignedUnits()
            : null
        "
        [ngClass]="{
          'btn-save': !editLoading && isEditValidAssignment(),
          'btn-disable': editLoading || !isEditValidAssignment()
        }"
      >
        Save &nbsp;
        <span
          *ngIf="editLoading"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
      </button>
    </div>

    <!-- </form> -->
  </p-dialog>
</div>

<!-- Reset Password popup  -->

<div class="flex justify-center">
  <p-dialog
    class="heading"
    [ngStyle]="{ 'font-weight': '800', 'font-size': '24px' }"
    header="Reset Password"
    [modal]="true"
    [(visible)]="resetPopupVisible"
    contentStyleClass="responsive-dialog"
    [draggable]="false"
    [resizable]="false"
  >
    <form [formGroup]="RestUserPasswordForm">
      <div class="row">
        <div>
          <div class="position-relative">
            <span class="label">New Password </span>
            <input
              type="text"
              style="display: none"
              class="input-felid"
              placeholder="Enter farm name..."
            />

            <input
              [type]="showNewPassword ? 'text' : 'password'"
              formControlName="newPassword"
              class="input-felid"
              placeholder="Enter password..."
            />
            <svg
              class="show-password-icon"
              (click)="showNewHidePassword()"
              *ngIf="!this.showNewPassword"
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              height="30"
              viewBox="0 0 14 14"
            >
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="M2.933 3.491C4.056 2.681 5.456 2 7 2s2.944.682 4.067 1.491c1.128.812 2.02 1.784 2.56 2.437l.005.005c.241.3.368.681.368 1.067c0 .386-.127.766-.368 1.067l-.005.005c-.54.653-1.432 1.625-2.56 2.437C9.944 11.32 8.544 12 7 12s-2.944-.682-4.067-1.49C1.805 9.696.913 8.724.373 8.071l-.005-.005A1.7 1.7 0 0 1 0 7c0-.386.127-.766.368-1.067l.005-.005c.54-.653 1.432-1.625 2.56-2.437M7 9.25a2.25 2.25 0 1 0 0-4.5a2.25 2.25 0 0 0 0 4.5"
                clip-rule="evenodd"
              />
            </svg>
            <svg
              class="show-password-icon"
              (click)="showNewHidePassword()"
              *ngIf="this.showNewPassword"
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              height="30"
              viewBox="0 0 1024 1024"
            >
              <path
                fill="currentColor"
                d="M508 624a112 112 0 0 0 112-112c0-3.28-.15-6.53-.43-9.74L498.26 623.57c3.21.28 6.45.43 9.74.43m370.72-458.44L836 122.88a8 8 0 0 0-11.31 0L715.37 232.23Q624.91 186 512 186q-288.3 0-430.2 300.3a60.3 60.3 0 0 0 0 51.5q56.7 119.43 136.55 191.45L112.56 835a8 8 0 0 0 0 11.31L155.25 889a8 8 0 0 0 11.31 0l712.16-712.12a8 8 0 0 0 0-11.32M332 512a176 176 0 0 1 258.88-155.28l-48.62 48.62a112.08 112.08 0 0 0-140.92 140.92l-48.62 48.62A175.09 175.09 0 0 1 332 512"
              />
              <path
                fill="currentColor"
                d="M942.2 486.2Q889.4 375 816.51 304.85L672.37 449A176.08 176.08 0 0 1 445 676.37L322.74 798.63Q407.82 838 512 838q288.3 0 430.2-300.3a60.29 60.29 0 0 0 0-51.5"
              />
            </svg>
          </div>
          <span
            class="errorValidation"
            *ngIf="RestUserPasswordForm.controls['newPassword'].touched && RestUserPasswordForm.controls['newPassword'].errors?.['required']"
            >Enter password
          </span>
          <span
            class="errorValidation"
            *ngIf="RestUserPasswordForm.controls['newPassword'].touched && RestUserPasswordForm.controls['newPassword'].errors?.['pattern']"
          >
            Password must be a minimum length of 8 characters containing
            uppercase, lowercase letters, a number and a symbol</span
          >
        </div>
        <div style="margin-top: 15px">
          <div class="position-relative">
            <span class="label">Conform Password </span>
            <input
              [type]="showResetPassword ? 'text' : 'password'"
              formControlName="conformPassword"
              class="input-felid"
              placeholder="Enter conform password..."
            />
            <svg
              class="show-password-icon"
              (click)="showResetHidePassword()"
              *ngIf="!this.showResetPassword"
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              height="30"
              viewBox="0 0 14 14"
            >
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="M2.933 3.491C4.056 2.681 5.456 2 7 2s2.944.682 4.067 1.491c1.128.812 2.02 1.784 2.56 2.437l.005.005c.241.3.368.681.368 1.067c0 .386-.127.766-.368 1.067l-.005.005c-.54.653-1.432 1.625-2.56 2.437C9.944 11.32 8.544 12 7 12s-2.944-.682-4.067-1.49C1.805 9.696.913 8.724.373 8.071l-.005-.005A1.7 1.7 0 0 1 0 7c0-.386.127-.766.368-1.067l.005-.005c.54-.653 1.432-1.625 2.56-2.437M7 9.25a2.25 2.25 0 1 0 0-4.5a2.25 2.25 0 0 0 0 4.5"
                clip-rule="evenodd"
              />
            </svg>
            <svg
              class="show-password-icon"
              (click)="showResetHidePassword()"
              *ngIf="this.showResetPassword"
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              height="30"
              viewBox="0 0 1024 1024"
            >
              <path
                fill="currentColor"
                d="M508 624a112 112 0 0 0 112-112c0-3.28-.15-6.53-.43-9.74L498.26 623.57c3.21.28 6.45.43 9.74.43m370.72-458.44L836 122.88a8 8 0 0 0-11.31 0L715.37 232.23Q624.91 186 512 186q-288.3 0-430.2 300.3a60.3 60.3 0 0 0 0 51.5q56.7 119.43 136.55 191.45L112.56 835a8 8 0 0 0 0 11.31L155.25 889a8 8 0 0 0 11.31 0l712.16-712.12a8 8 0 0 0 0-11.32M332 512a176 176 0 0 1 258.88-155.28l-48.62 48.62a112.08 112.08 0 0 0-140.92 140.92l-48.62 48.62A175.09 175.09 0 0 1 332 512"
              />
              <path
                fill="currentColor"
                d="M942.2 486.2Q889.4 375 816.51 304.85L672.37 449A176.08 176.08 0 0 1 445 676.37L322.74 798.63Q407.82 838 512 838q288.3 0 430.2-300.3a60.29 60.29 0 0 0 0-51.5"
              />
            </svg>
          </div>
          <span
            *ngIf="
              RestUserPasswordForm.controls['conformPassword'].touched &&
              RestUserPasswordForm.value.newPassword !=
                RestUserPasswordForm.value.conformPassword
            "
            class="errorValidation"
          >
            Password do not match
          </span>
        </div>
        <div class="d-flex justify-content-end" style="margin-top: 15px">
          <button
            type="button"
            (click)="
              !addLoading &&
              RestUserPasswordForm.valid &&
              RestUserPasswordForm.value.newPassword ==
                RestUserPasswordForm.value.conformPassword
                ? resetPassword()
                : null
            "
            style="width: 100px; text-align: center; margin-top: 10px"
            [ngClass]="{
              'btn-save': RestUserPasswordForm.valid,
              'btn-disable':
                !RestUserPasswordForm.valid ||
                addLoading ||
                RestUserPasswordForm.value.newPassword !=
                  RestUserPasswordForm.value.conformPassword
            }"
          >
            Save &nbsp;
            <span
              *ngIf="addLoading"
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span>
          </button>
        </div>
      </div>
    </form>
  </p-dialog>
</div>
<p-toast />
<app-confirmation-popup
  [visible]="showConfirmDialog"
  [message]="'Are you sure you want to delete this user?'"
  (onConfirm)="deleteUser()"
  (onCancel)="handleCancelled()"
>
</app-confirmation-popup>
