<div class="container-fluid py-4">
  <div class="row g-3 text-center justify-content-between mb-5">
    <div class="col-md-3">
      <div class="unit-card p-3" [routerLink]="isAdminExit ? ['/superAdmin/users'] : null">
        <div class="card-text">User</div>
        <div class="count" style="color: #e47c1c">{{ TotalCount.users }}</div>
        <div class="label" style="font-weight: 600;color: #e47c1c">Total</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="unit-card p-3" [routerLink]="isAdminExit ? ['/superAdmin/customers'] : null" >
        <div class="card-text">Customer</div>
        <div class="count" style="color: #338c8e">
          {{ TotalCount.customers }}
        </div>
        <div class="label" style="font-weight: 600;color: #338c8e">Total</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="unit-card p-3" [routerLink]="isAdminExit ? ['/superAdmin/suppliers'] : null">
        <div class="card-text">Supplier</div>
        <div class="count" style="color: #0d77bc">
          {{ TotalCount.suppliers }}
        </div>
        <div class="label" style="font-weight: 600;color: #0d77bc">Total</div>
      </div>
    </div>
  </div>
  <div class="row justify-content-between" style="margin-top: 100px">
    <div class="col-sm-6 col-lg-3 mb-5">
      <p-chart type="bar" [data]="usersChartData" [options]="chartOptions"></p-chart>
      
      <div [routerLink]="isAdminExit ? ['/superAdmin/users'] : null"  class="dashboard-card" style="cursor: pointer">Users</div>
    </div>
    <div class="col-sm-6 col-lg-3  mb-5">
      <p-chart type="bar" [data]="customersChartData" [options]="chartOptions"></p-chart>
    <div
    
        [routerLink]="isAdminExit ? ['/superAdmin/customers'] : null"
        class="dashboard-card"
        style="cursor: pointer"
      >
        Customers
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <p-chart type="bar" [data]="suppliersChartData" [options]="chartOptions"></p-chart>
      <div [routerLink]="isAdminExit ? ['/superAdmin/suppliers'] : null"  class="dashboard-card" style="cursor: pointer">Suppliers</div>
    
    </div>
  </div>
</div>
