.form-check-input {
  margin-left: 15px;
  margin-top: 7px;
  border-color: #000000 !important;
}
input[type="radio"].form-check-input:checked {
  background-color: #ed5d25 !important;
  border-color: #ed5d25 !important;
}

::ng-deep p-select.gray-bg {
  background-color: #dbd7d5 !important;
  color: white !important;
}
.my-custom-dropdown ::ng-deep .p-select-option{
  background-color: green !important;
  color: white; /* optional */
}
.checkbox-wrapper {
  display: inline-block;
  margin-bottom: 5px; /* your desired spacing */
  margin-left: 5px;
}
::ng-deep .p-select .p-select-overlay {
  max-width: 312px !important;
}

// :host ::ng-deep .my-custom .truncate {
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   display: block;
//   max-width: 100%;
// }
