<div class="container-fluid">
  <div class="d-pointer">
    <span class="breadcrumb"  [routerLink]="['/superAdmin/business/units']" style="text-transform: uppercase;"  >{{businessUnitName}} / </span>
    <span  class="breadcrumb-bold">&nbsp;Live stock</span>
    </div>
    <span class="d-flex flex-wrap justify-content-between">
            <span class="d-flex flex-wrap">
                <div class="position-relative searchinput mt-4 mb-3">
                    <svg class="position-absolute search-icon" xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" style="top: 7px; left: 10px" viewBox="0 0 24 24"><path fill="currentColor" d="m19.6 21l-6.3-6.3q-.75.6-1.725.95T9.5 16q-2.725 0-4.612-1.888T3 9.5t1.888-4.612T9.5 3t4.613 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l6.3 6.3zM9.5 14q1.875 0 3.188-1.312T14 9.5t-1.312-3.187T9.5 5T6.313 6.313T5 9.5t1.313 3.188T9.5 14"/></svg>

                    <input type="text" autocomplete="off" (keyup)="SearchBySearchKey($event)" (keyup.enter)="getLiveStockBatchList()" style="padding-left: 40px"
                        [(ngModel)]="searchKey" class="search-input" name="searchValue"
                        placeholder="Search Breed..." />
                    <div style="position: absolute; top: 4px; right: 0">
                      <svg class="search-cross-icon" *ngIf="searchKey != null" (click)="searchKey = null;getLiveStockBatchList()"  style="margin-top: 6px !important;margin-right:10px !important;color:#ED5D25" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"><path d="M5.47 5.47a.75.75 0 0 1 1.06 0l12 12a.75.75 0 1 1-1.06 1.06l-12-12a.75.75 0 0 1 0-1.06"/><path d="M18.53 5.47a.75.75 0 0 1 0 1.06l-12 12a.75.75 0 0 1-1.06-1.06l12-12a.75.75 0 0 1 1.06 0"/></g></svg>
                    </div>
                </div>
               
                <span class="alarms mt-4 mb-3 mx-2 d-flex align-items-center">
                        <p-checkbox (onChange)="ngAfterViewInit()" [binary]="true" inputId="binary" inputId="ny"
                            [(ngModel)]="archived" />
                        <label class="tick-lable mx-2" for="tricheckbox">Archived</label>
                </span>
                
            </span>
            
            <div  class="d-flex align-items-center gap-5" >
                <span (click)="ResetFilter()" *ngIf="searchKey!=null" class="tableText-bold mt-2" style="color: #E83838;font-weight: 700;">
                   Reset Filter
                </span>
                <button (click)="visible=true;initForm()" class="btn mt-4 mb-3" style="min-width: 120px;"
                   >
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24">
                        <g fill="none" stroke="currentColor" stroke-dasharray="16" stroke-dashoffset="16"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                            <path d="M5 12h14">
                                <animate fill="freeze" attributeName="stroke-dashoffset" dur="0.48s" values="16;0" />
                            </path>
                            <path d="M12 5v14">
                                <animate fill="freeze" attributeName="stroke-dashoffset" begin="0.48s" dur="0.48s"
                                    values="16;0" />
                            </path>
                        </g>
                    </svg>
                  New Live Stock 
                </button></div>
               
        </span>
   <div class="mat-elevation-z8 mt-4 rounded-table">
  <table mat-table matSort [dataSource]="dataSource">
    <ng-container matColumnDef="breed">
      <th mat-header-cell *matHeaderCellDef class="table-header col-name"  > Breed </th>
      <td mat-cell *matCellDef="let element"   class="tableText-bold col-name"  [routerLink]="['/poultryFarm/live-stock/edit', element.livestockBatchId]" > {{element.breed}} </td>
    </ng-container>
  <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef class="table-header" > Quantity </th>
      <td mat-cell *matCellDef="let element"  class="tableText-thin"  >
        {{element.quantity}}
      </td>
    </ng-container>
     <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef class="table-header">  Arrival Date </th>
      <td mat-cell *matCellDef="let element" class="tableText-thin" > 
        {{element.arrivalDate | date:'dd/MM/yyyy'}}
      </td>
    </ng-container>
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef class="table-header"  style="min-width: 120px  !important;"> Age In Days </th>
      <td mat-cell *matCellDef="let element" class="tableText-thin ">
        {{element.ageInDays}}
      </td>
    </ng-container>
    <ng-container matColumnDef="health">
      <th mat-header-cell *matHeaderCellDef class="table-header">Health Status</th>
      <td mat-cell *matCellDef="let element" class="tableText-thin"  >
        {{element.healthStatus}}
      </td>
    </ng-container>
    <ng-container matColumnDef="archive">
      <th mat-header-cell *matHeaderCellDef class="table-header"  style="min-width: 120px  !important;"></th>
      <td mat-cell *matCellDef="let element" class="tableText-thin ">
        <!-- (click)="coldStoreShelfId=element.coldStoreShelfId;openConfirmationDialog(element.archived);" -->
      <svg   style="float: right;margin-right: 20px;cursor:pointer;" xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" viewBox="0 0 24 24"><path fill="currentColor" d="m12 18l4-4l-1.4-1.4l-1.6 1.6V10h-2v4.2l-1.6-1.6L8 14zM5 8v11h14V8zm0 13q-.825 0-1.412-.587T3 19V6.525q0-.35.113-.675t.337-.6L4.7 3.725q.275-.35.687-.538T6.25 3h11.5q.45 0 .863.188t.687.537l1.25 1.525q.225.275.338.6t.112.675V19q0 .825-.587 1.413T19 21zm.4-15h13.2l-.85-1H6.25zm6.6 7.5"/></svg>
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div> 
   <app-data-not-found *ngIf="liveStockList.length == 0 && !isLoadingResults" />
  <div class=" skelton" *ngIf="isLoadingResults">
    <app-loading></app-loading>
  </div>  
  <mat-paginator pageSize="10" [length]="liveStockList.length"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
<div class=" flex justify-center">
<p-dialog     header="Add Live Stock" 
    [modal]="true"
  [(visible)]="visible" 
  [style]="{ width: '40vw' }" [draggable]="false" [resizable]="false"
  >
 <form [formGroup]="addLiveStockModel" >
    <div class="row " >
      <div class="name mt-3">
        <span class="label">Breed</span>
        <input type="text" formControlName="breed"    class="input-felid " placeholder="Enter breed...">
      </div>
       <div class="name mt-3">
        <span class="label">Quantity</span>
        <input type="number"  formControlName="quantity"  (keydown)="preventDecimal($event)"   class="input-felid" placeholder="Enter quantity...">
         <!-- Show error message -->
             <!-- Show error message -->
       <span class="errorValidation" *ngIf="addLiveStockModel.get('quantity')?.touched && addLiveStockModel.get('quantity')?.errors?.['min']">
       Quantity should be greater than 0
        </span>
      </div>
       <div class="name mt-3">
        <span class="label">Arrivel Date</span>
        <input type="date" formControlName="arrivalDate"    class="input-felid custom-date" placeholder="Enter shelf name...">
      </div>
       <div class="name mt-3">
        <span class="label">Age In Days </span>
        <input type="number" formControlName="ageInDays" (keydown)="preventDecimal($event)"    class="input-felid " placeholder="Enter age days...">
         <span class="errorValidation" *ngIf="addLiveStockModel.get('ageInDays')?.touched && addLiveStockModel.get('ageInDays')?.errors?.['min']">
       Days should be greater than 0
        </span>
      </div>
       <div class="name mt-3">
        <span class="label">Health Status </span>
        <input type="text" formControlName="healthStatus"    class="input-felid " placeholder="Enter health status...">
       </div>
     
      <div class="mt-3">
        <span class="label">Business Unit</span>
        <div>
        <p-select 
                    [options]="businessUnitTypes" 
                   formControlName="businessUnitId"
                    optionLabel="type"
                    optionValue="id"
                    placeholder="Business Unit" 
                     styleClass="my-custom-select"
                     readonly
                    />
        </div>
      </div>
    </div>
    <hr class="mt-5">
    <div class="d-flex justify-content-end gap-4 mb-4" style="margin-top: 20px;">
      <button (click)="visible=false"  type="button" class="btn-discard"  
       >
          Discard
          
        </button>
        
        <button  type="button" (click)="(addLiveStockModel.valid && !addLoading)?addLiveStockBatch():null"
         [ngClass]="{
        'btn-save': addLiveStockModel.valid && !addLoading,
        'btn-disable': addLiveStockModel.invalid || addLoading
           }"  >
          Save &nbsp;
           <span *ngIf="addLoading"  class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
      </div>
    
</form>
</p-dialog>
</div>
<p-toast />
 <app-confirmation-popup
  [visible]="showConfirmDialog"
  [message]="confirmationMessage"
  (onConfirm)="editArchiveStatus()"
  (onCancel)="handleCancelled()">
</app-confirmation-popup>