<div class="container-fluid">
  <div class="d-pointer">
    <span class="breadcrumb" style="text-transform: uppercase"
      >Dairy Farm /
    </span>
    <span class="breadcrumb-bold">&nbsp;Animal Detail</span>
  </div>
  <!-- User Header -->
  <div
    class="header-card d-flex align-items-center justify-content-between mb-4"
  >
    <div class="heading mb-0" style="color: #4079b0 !important">Animal ID</div>
  </div>
  <!-- Customer Details -->
  <div
    class="d-flex justify-content-between align-items-center"
    style="margin-top: 70px"
  >
    <span class="heading" style="color: #4079b0 !important">
      Animal Detail
    </span>
    <span *ngIf="isReadOnly" (click)="isReadOnly = false">
      <button class="edit-btn">EDIT</button>
    </span>
    <span *ngIf="!isReadOnly" class="d-flex justify-content-end gap-4">
      <button (click)="discardChanges()" type="button" class="btn-discard">
        Discard
      </button>
      <button
        type="button"
        (click)="
          editAnimalModel.valid && !editLoading ? editAnimalDetail() : null
        "
        [ngClass]="{
          'btn-save': editAnimalModel.valid && !editLoading,
          'btn-disable': editAnimalModel.invalid || editLoading
        }"
      >
        Save &nbsp;
        <span
          *ngIf="editLoading"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
      </button>
    </span>
  </div>
  <form [formGroup]="editAnimalModel">
    <div class="row g-3 align-items-end mt-4">
      <!-- <div class="col-md-4 mb-4">
        <span class="label1">Animal Id</span>
        <input
          type="text"
          class="input-felid"
          [ngClass]="{ 'input-disable': isReadOnly }"
          placeholder="Enter breed id..."
          formControlName="animalRef"
        />
      </div> -->

      <div class="col-md-4 mb-4 position-relative">
        <span class="label1">type</span>
        <input
          type="text"
          class="input-felid"
          [ngClass]="{ 'input-disable': isReadOnly }"
          placeholder="Enter type..."
          formControlName="animalTypeId"
        />
      </div>
      <!-- <div class="col-md-4 mb-4">
        <span class="label1">Breed id</span>
        <input
          type="text"
          class="input-felid"
          [ngClass]="{ 'input-disable': isReadOnly }"
          placeholder="Enter breed id..."
          formControlName="breedRef"
        />
      </div> -->
      <div class="col-md-4 mb-4">
        <span class="label1">animal code</span>
        <input
          type="text"
          class="input-felid"
          [ngClass]="{ 'input-disable': isReadOnly }"
          placeholder="Enter breed name..."
          formControlName="animalCode"
        />
      </div>
      <div class="col-md-4 mb-4 position-relative">
        <span class="label1">age</span>
        <input
          type="text"
          class="input-felid"
          [ngClass]="{ 'input-disable': isReadOnly }"
          placeholder="Enter origin..."
          formControlName="age"
        />
      </div>
      <div class="col-md-4 mb-4 position-relative">
        <span class="label1">purchase date</span>
        <input
          type="date"
          class="input-felid custome-date"
          [ngClass]="{ 'input-disable': isReadOnly }"
          placeholder="Enter purchase date..."
          formControlName="purchaseDate"
        />
      </div>
      <div class="col-md-4 mb-4 position-relative">
        <span class="label1">price</span>
        <input
          type="number"
          value="PAKISTAN"
          class="input-felid"
          [ngClass]="{ 'input-disable': isReadOnly }"
          placeholder="Enter price..."
          formControlName="price"
        />
      </div>
      <div class="col-md-4 mb-4 position-relative">
        <div class="mt-3 gap-3" style="display: flex">
          <div style="display: flex">
            <span class="label">Male</span>
            <span
              ><input
                class="form-check-input"
                type="radio"
                name="isFemale"
                [value]="false"
                [(ngModel)]="isFemale"
                formControlName="isFemale"
            /></span>
          </div>
          <div style="display: flex">
            <span class="label" style="margin-left: 25px">Female</span>
            <span
              ><input
                class="form-check-input"
                type="radio"
                name="isFemale"
                [value]="true"
                [(ngModel)]="isFemale"
                formControlName="isFemale"
            /></span>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 position-relative">
        <div class="d-flex gap-3 align-items-center mt-3">
          <!-- Active -->
          <div>
            <span class="label">Active</span>
            <input
              class="form-check-input"
              type="radio"
              formControlName="isActive"
              [value]="true"
            />
          </div>

          <!-- Inactive -->
          <div style="margin-left: 25px">
            <span class="label">Inactive</span>
            <input
              class="form-check-input"
              type="radio"
              formControlName="isActive"
              [value]="false"
            />
          </div>
        </div>
      </div>
      <div class="col-md-12 mb-4">
        <span class="label1">note</span>
        <input
          type="text"
          class="input-felid"
          [ngClass]="{ 'input-disable': isReadOnly }"
          placeholder="Enter note..."
          formControlName="note"
        />
      </div>
    </div>
  </form>
</div>
<p-toast />
