<div class="container-fluid">
  <div class="d-pointer">
    <span class="breadcrumb" style="text-transform: uppercase"
      >Dashboard /
    </span>
    <span class="breadcrumb-bold">&nbsp;Vaccine Detail</span>
  </div>
  <!-- User Header -->
  <div
    class="header-card d-flex align-items-center justify-content-between mb-4"
  >
    <div class="heading mb-0" style="color: #4079b0 !important">
      DAIRY FARM VACCINE
    </div>
  </div>
  <!-- Customer Details -->
  <div
    class="d-flex justify-content-between align-items-center"
    style="margin-top: 70px"
  >
    <span class="heading" style="color: #4079b0 !important">
      Vaccine Record Detail
    </span>
    <span *ngIf="isReadOnly" (click)="isReadOnly = false">
      <button class="edit-btn">EDIT</button>
    </span>
    <span *ngIf="!isReadOnly" class="d-flex justify-content-end gap-4">
      <button (click)="discardChanges()" type="button" class="btn-discard">
        Discard
      </button>
      <button
        type="button"
        (click)="
          editLiveStockModel.valid && !editLoading
            ? editLiveStockDetail()
            : null
        "
        [ngClass]="{
          'btn-save': editLiveStockModel.valid && !editLoading,
          'btn-disable': editLiveStockModel.invalid || editLoading
        }"
      >
        Save &nbsp;
        <span
          *ngIf="editLoading"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
      </button>
    </span>
  </div>
  <form>
    <div class="row g-3 align-items-end mt-4">
      <div class="col-md-4 mb-4 position-relative">
        <span class="label1">Vaccine Name</span>
        <input
          type="text"
          value="FMD Vaccine"
          class="input-felid"
          [ngClass]="{ 'input-disable': isReadOnly }"
          placeholder="Enter vaccine name..."
        />
      </div>
      <div class="col-md-4 mb-4 position-relative">
        <span class="label1">Disease Prevented</span>
        <input
          type="text"
          value="Foot & Mouth Disease"
          class="input-felid"
          [ngClass]="{ 'input-disable': isReadOnly }"
          placeholder="Enter vaccine name..."
        />
      </div>
      <div class="col-md-4 mb-4">
        <span class="label1">Age/Timing</span>
        <input
          type="text"
          value="6 months+ (before monsoon)"
          class="input-felid custom-date"
          [ngClass]="{ 'input-disable': isReadOnly }"
          placeholder="Enter date given..."
        />
      </div>
      <div class="col-md-4 mb-4">
        <span class="label1">Dosage & Route</span>
        <input
          type="text"
          value="2 ml, subcutaneous"
          class="input-felid custom-date"
          [ngClass]="{ 'input-disable': isReadOnly }"
          placeholder="Enter next due date..."
        />
      </div>
      <div class="col-md-4 mb-4">
        <span class="label1">Booster / Schedule</span>
        <input
          type="text"
          value="Once in lifetime"
          class="input-felid custom-date"
          [ngClass]="{ 'input-disable': isReadOnly }"
          placeholder="Enter note..."
        />
      </div>
      <div class="col-md-4 mb-4">
        <span class="label1">Storage</span>
        <input
          type="text"
          value="2–8 °C"
          class="input-felid custom-date"
          [ngClass]="{ 'input-disable': isReadOnly }"
          placeholder="Enter note..."
        />
      </div>
      <div class="col-md-4 mb-4">
        <span class="label1">Precautions</span>
        <input
          type="text"
          value="Do not vaccinate sick cows"
          class="input-felid custom-date"
          [ngClass]="{ 'input-disable': isReadOnly }"
          placeholder="Enter note..."
        />
      </div>
    </div>
  </form>
</div>
<p-toast />
