<div class="container">
   <div>
    <span class="breadcrumb"  [routerLink]="['/superAdmin']"  >BINISHAQ /</span>
    <span class="breadcrumb-bold">&nbsp;{{businessUnitName}} /</span>
    <span  class="breadcrumb-bold">&nbsp;Ledger</span>
  </div>
  <div *ngFor="let item of CustomerPaymentDetail; let i = index">
    <!-- Show Credit Heading once before first credit item -->
    <div
      class="d-flex justify-content-between align-items-center mt-5"
      *ngIf="
        item.isCredit && (i === 0 || !CustomerPaymentDetail[i - 1].isCredit)
      "
    >
      <span class="heading">Credit Detail</span>
    </div>

    <!-- Show Debit Heading once before first debit item -->
    <div
      class="d-flex justify-content-between align-items-center mt-5"
      *ngIf="
        !item.isCredit && (i === 0 || CustomerPaymentDetail[i - 1].isCredit)
      "
    >
      <span class="heading">Debit Detail</span>
    </div>

    <!-- Item Data -->
    <div class="row g-3 mt-4">
      <div class="col-md-4 mb-4">
        <div class="fw-bold">Reference</div>
        <div>{{ item.reference }}</div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="fw-bold">Customer Name</div>
        <div>{{ item.client }}</div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="fw-bold">Business Unit</div>
        <div>{{ item.businessUnit }}</div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="fw-bold">Created By</div>
        <div>{{ item.createdBy }}</div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="fw-bold">Created At</div>
        <div>{{ item.createdAt | date : "dd/MM/yyyy" }}</div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="fw-bold">Voucher Type</div>
        <div>{{ item.voucherType }}</div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="fw-bold">Product</div>
        <div>{{ item.productType }}</div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="fw-bold">Bill No</div>
        <div>{{ item.billNo }}</div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="fw-bold">Payment Date</div>
        <div>{{ item.paymentDate | date : "MM/dd/yyyy" }}</div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="fw-bold">Amount</div>
        <div>{{ item.amount }}</div>
      </div>
      <div class="col-md-12 mb-4">
        <div class="fw-bold">Note</div>
        <div>{{ item.note }}</div>
      </div>
    </div>
  </div>
</div>

<p-toast></p-toast>
