.input-label {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  text-transform: capitalize;
  color: #000000;
}
.label1 {
  @extend .input-label;
  font-weight: 600;
}
.input-field {
  border: 1px solid #00000080;
  height: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  border-radius: 10px;
  outline: none;
  color: #000000;
  background-color: #fff !important;
  padding: 10px;
  width: 100%;
}
.my-custom-select {
  width: 100% !important;
  height: 40px !important;
  border: 1px solid #00000080 !important;
  background-color: #fff !important;
  font-family: "Inter", sans-serif !important;
  font-weight: 400 !important;
  font-size: 15px !important;
  border-radius: 10px !important;
  outline: none !important;
  color: #000000 !important;
  align-items: center !important;
  outline: none !important;
}

// stock table design
.bg-teal {
  background-color: #008080;
}
.stocks-table {
  border-collapse: separate;
  border-spacing: 8px; /* Adjust spacing between cells */
}

.stock-table-th {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #ffffff;
  border: 1px solid #00000033;
  background: #ed5d25;
  border-radius: 10px;
  text-align: center;
  height: 40px;
}
.stock-table-td {
  border: 1px solid #00000033;
  background: #ffffff;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #03192c;
  padding: 10px;
}
textarea {
  resize: none;
}

.no-border {
  border: none !important;
  background: transparent !important; /* Optional: remove background */
}
table td[contenteditable="true"] {
  //   background-color: #fdf2e9;
  //   border: 1px solid #ddd;
}

.stock-rate {
  border: 1px solid #00000033;
  background-color: white;
  height: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  border-radius: 10px;
  outline: none;
  color: #000000;
  padding: 10px;
  text-align: center;
}
.p-select-disabled {
  width: 100% !important;
  height: 40px !important;
  border: 1px solid #00000080 !important;
  background-color: #efeded !important;
  font-family: "Inter", sans-serif !important;
  font-weight: 400 !important;
  font-size: 15px !important;
  border-radius: 10px !important;
  outline: none !important;
  color: #000000 !important;
  align-items: center !important;
  outline: none !important;
}
.table-td-input {
  background-color: white;
  color: #000000 !important;
  width: 100%;
  border: none;
  outline: none;
}
/* SCSS or CSS */
.custom-date::-webkit-calendar-picker-indicator {
  filter: invert(48%) sepia(92%) saturate(386%) hue-rotate(344deg)
    brightness(92%) contrast(91%);
  cursor: pointer;
}
.form-control-disabled {
  background-color: #efeded;
  pointer-events: none;
}
.input-disable {
  background-color: #efeded !important;
  pointer-events: none !important;
}
.td-select-style {
  //  background-color: white;
  color: #000000 !important;
  border: none !important;
  outline: none !important;
  height: 40px !important;
  width: 120px !important;
  background-color: #fff !important;
  outline: none !important;
}
.custom-dialog-title {
  font-family: "Montserrat" !important;
  color: #000000 !important;
  font-size: 25px !important;
  font-weight: 600 !important;
  width: 100% !important;
  text-align: center !important;
  font-weight: bold !important;
  color: black !important;
  // background: #ED5D25;
}
.unsave-count {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  border: 1px solid #e85c2a;
  font-size: 16px;
}
.form-check-input {
  margin-left: 15px;
  margin-top: 7px;
  border-color: #000000 !important;
}
input[type="radio"].form-check-input:checked {
  background-color: #ed5d25 !important;
  border-color: #ed5d25 !important;
}
.custom-row {
  font-weight: bold;
  background-color: #e8f5e9;
  text-align: right;
}
