<div class="container-fluid">
  <div class="d-pointer">
    <span class="breadcrumb" [routerLink]="['/superAdmin']">BINISHAQ /</span>
    <span class="breadcrumb-bold">&nbsp;{{ businessUnitName }} /</span>
    <!-- <span
      class="breadcrumb"
      [routerLink]="['/superAdmin/business/units']"
      style="text-transform: uppercase"
      >{{ businessUnitName }} /
    </span> -->
    <span class="breadcrumb-bold">&nbsp;Sales</span>
  </div>
  <span class="d-flex flex-wrap justify-content-between">
    <span class="d-flex flex-wrap">
      <div class="position-relative searchinput mt-4 mb-3">
        <svg
          class="position-absolute search-icon"
          xmlns="http://www.w3.org/2000/svg"
          width="25px"
          height="25px"
          style="top: 7px; left: 10px"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="m19.6 21l-6.3-6.3q-.75.6-1.725.95T9.5 16q-2.725 0-4.612-1.888T3 9.5t1.888-4.612T9.5 3t4.613 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l6.3 6.3zM9.5 14q1.875 0 3.188-1.312T14 9.5t-1.312-3.187T9.5 5T6.313 6.313T5 9.5t1.313 3.188T9.5 14"
          />
        </svg>
        <input
          type="text"
          autocomplete="off"
          (keyup)="SearchBySearchKey($event); getSales()"
          (keyup.enter)="getSales()"
          style="padding-left: 40px"
          [(ngModel)]="searchKey"
          class="search-input"
          name="searchValue"
          placeholder="Search Reference..."
        />
        <div style="position: absolute; top: 4px; right: 0">
          <svg
            class="search-cross-icon"
            *ngIf="searchKey != null"
            (click)="searchKey = null; getSales()"
            style="
              margin-top: 6px !important;
              margin-right: 10px !important;
              color: #ed5d25;
            "
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <g fill="currentColor" fill-rule="evenodd" clip-rule="evenodd">
              <path
                d="M5.47 5.47a.75.75 0 0 1 1.06 0l12 12a.75.75 0 1 1-1.06 1.06l-12-12a.75.75 0 0 1 0-1.06"
              />
              <path
                d="M18.53 5.47a.75.75 0 0 1 0 1.06l-12 12a.75.75 0 0 1-1.06-1.06l12-12a.75.75 0 0 1 1.06 0"
              />
            </g>
          </svg>
        </div>
      </div>
      <!-- <span class="alarms mt-4 mb-3 mx-3">
        <p-select
          [options]="businessUnit"
          optionLabel="type"
          optionValue="id"
          [(ngModel)]="businessUnitId"
          filter="true"
          (onChange)="ngAfterViewInit()"
          placeholder="Select Business Unit"
        />
      </span> -->
      <span class="alarms mt-4 mb-3 mx-3">
        <p-select
          [options]="partiesTypes"
          [(ngModel)]="partyId"
          optionLabel="type"
          optionValue="id"
          (onChange)="ngAfterViewInit()"
          [showClear]="true"
          placeholder="Select Customer"
        />
      </span>
      <div class="d-flex mt-4 mb-2" style="gap: 5px">
        <span class="date-text mt-2">From</span>
        <input
          type="date"
          placeholder="From date"
          [(ngModel)]="from"
          class="date-input custom-date"
          (change)="getSales()"
        />
      </div>
      <div class="d-flex mt-4 mb-2 mx-3" style="gap: 5px">
        <span class="date-text mt-2">To</span>
        <input
          type="date"
          placeholder="To date"
          [(ngModel)]="to"
          class="date-input custom-date"
          (change)="getSales()"
        />
      </div>
    </span>
    <div class="d-flex align-items-center mx-3 gap-5">
      <span
        (click)="ResetFilter()"
        *ngIf="searchKey || from || to || partyId"
        class="tableText-bold mt-2"
        style="color: #e83838; font-weight: 700"
      >
        <!-- *ngIf="searchKey != null || clientId != null" -->
        Reset Filter
      </span>
      <button
        (click)="resetForm()"
        class="btn mt-4 mb-3"
        style="min-width: 120px"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          viewBox="0 0 24 24"
        >
          <g
            fill="none"
            stroke="currentColor"
            stroke-dasharray="16"
            stroke-dashoffset="16"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
          >
            <path d="M5 12h14">
              <animate
                fill="freeze"
                attributeName="stroke-dashoffset"
                dur="0.48s"
                values="16;0"
              />
            </path>
            <path d="M12 5v14">
              <animate
                fill="freeze"
                attributeName="stroke-dashoffset"
                begin="0.48s"
                dur="0.48s"
                values="16;0"
              />
            </path>
          </g>
        </svg>
        New Sale
      </button>
    </div>
  </span>
  <div class="mat-elevation-z8 mt-4 rounded-table">
    <div class="table-responsive">
      <table mat-table matSort [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="ref">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            style="min-width: 120px"
          >
            Reference
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="tableText-bold"
            [routerLink]="['/storageUnit/sales', element.saleId]"
            (click)="onEditSales(element.saleId)"
          >
            {{ element.reference }}
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            style="min-width: 180px"
          >
            Customer
          </th>
          <td mat-cell *matCellDef="let element" class="tableText-thin">
            {{ element.customer }}
          </td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            style="min-width: 180px"
          >
            Egg type
          </th>
          <td mat-cell *matCellDef="let element" class="tableText-thin">
            {{ element.type }}
          </td>
        </ng-container>
        <ng-container matColumnDef="variety">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            style="min-width: 180px"
          >
            Egg variety
          </th>
          <td mat-cell *matCellDef="let element" class="tableText-thin">
            {{ element.variety }}
          </td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            style="min-width: 120px"
          >
            Price
          </th>
          <td mat-cell *matCellDef="let element" class="tableText-thin">
            {{ element.price }}
          </td>
        </ng-container>
        <ng-container matColumnDef="quantity">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            style="min-width: 120px"
          >
            Quantity
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="tableText-thin mx-4">
              {{ element.quantity }}
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            style="min-width: 150px !important"
          >
            DATE
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.date | date : "dd/MM/yyyy" }}
          </td>
        </ng-container>
        <!-- <ng-container matColumnDef="expireDate">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            style="min-width: 150px !important"
          >
            DATE
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.expiryDate | date : "dd/MM/yyyy" }}
          </td>
        </ng-container> -->
        <ng-container matColumnDef="tray">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            style="min-width: 150px; max-width: 150px"
          >
            Egg Tray
          </th>
          <td mat-cell *matCellDef="let element" class="tableText-thin">
            {{ element.tray }}
          </td>
        </ng-container>
        <ng-container matColumnDef="crate">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            style="min-width: 150px; max-width: 150px"
          >
            Crate
          </th>
          <td mat-cell *matCellDef="let element" class="tableText-thin">
            {{ element.crate }}
          </td>
        </ng-container>
        <ng-container matColumnDef="note">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-header"
            style="min-width: 250px; max-width: 250px"
          >
            Note
          </th>
          <td mat-cell *matCellDef="let element" class="tableText-thin">
            {{ element.note }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
  <app-data-not-found *ngIf="salesList.length == 0 && !isLoadingResults" />
  <div class="skelton" *ngIf="isLoadingResults">
    <app-loading></app-loading>
  </div>
  <mat-paginator
    pageSize="10"
    [length]="salesList.length"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>

<!-- Sales popup -->
<div class="flex justify-center">
  <p-dialog
    header="Add Sale"
    [modal]="true"
    [(visible)]="addSalePopupVisible"
    (onHide)="getSales()"
    [style]="{ width: '70vw' }"
    [draggable]="false"
    [resizable]="false"
  >
    <form [formGroup]="salesForm">
      <div class="mt-3" style="display: flex">
        <div style="display: flex">
          <span class="label">Egg Sale</span>
          <span>
            <input
              class="form-check-input"
              type="radio"
              name="paymentTypeId"
              id="credit"
              [value]="'Egg Sale'"
              checked
              (change)="selectedType = 'Egg Sale'"
            />
          </span>
        </div>

        <div style="display: flex">
          <span class="label" style="margin-left: 25px"
            >Other Product Sale</span
          >
          <span>
            <input
              class="form-check-input"
              type="radio"
              name="paymentTypeId"
              id="debit"
              [value]="'Other Product Sale'"
              (change)="selectedType = 'Other Product Sale'"
            />
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mt-4">
          <div class="input-label">Customer Name</div>
          <p-select
            [options]="partiesTypes"
            formControlName="customerId"
            optionLabel="type"
            optionValue="id"
            filter="true"
            (onChange)="getSaleByCustomerId(salesForm.value.customerId)"
            placeholder="Select Customer"
            styleClass="my-custom-select"
          />
        </div>
        <div
          class="col-md-4 mt-4"
          *ngIf="selectedType === 'Other Product Sale'"
        >
          <div class="input-label">Product</div>

          <p-select
            [options]="products"
            formControlName="productId"
            optionLabel="type"
            optionValue="id"
            placeholder="Select product"
            styleClass="my-custom-select"
          />
        </div>
        <div class="col-md-4 mt-4" *ngIf="selectedType === 'Egg Sale'">
          <div class="input-label">Egg Type</div>
          <p-select
            [options]="types"
            formControlName="typeId"
            optionLabel="type"
            optionValue="id"
            placeholder="Select Type"
            styleClass="my-custom-select"
          />
        </div>
        <div class="col-md-4 mt-3" *ngIf="selectedType === 'Egg Sale'">
          <div class="input-label">Egg Variety</div>
          <p-select
            [options]="productVarieties"
            formControlName="varietyId"
            optionLabel="type"
            optionValue="id"
            placeholder="Select Variety"
            styleClass="my-custom-select"
          />
        </div>
        <div class="col-md-4 mt-3">
          <div class="input-label">Price</div>
          <input
            type="number"
            formControlName="price"
            placeholder="Enter price"
            (keydown)="preventDecimal($event)"
            class="input-field"
          />
          <!-- Show error message -->
          <span
            class="errorValidation"
            *ngIf="salesForm.get('price')?.touched && salesForm.get('price')?.errors?.['min']"
          >
            Price should be greater than 0
          </span>
        </div>
        <div
          class="col-md-4 mt-3"
          *ngIf="selectedType === 'Other Product Sale'"
        >
          <div class="input-label">Quantity</div>
          <input
            type="number"
            formControlName="quantity"
            placeholder="Enter quantity"
            (keydown)="preventDecimal($event)"
            class="input-field"
          />
          <!-- Show error message -->
          <span
            class="errorValidation"
            *ngIf="salesForm.get('quantity')?.touched && salesForm.get('quantity')?.errors?.['min']"
          >
            Quantity should be greater than 0
          </span>
        </div>
        <div class="col-md-4 mt-3">
          <div class="input-label">Date</div>
          <input
            type="date"
            formControlName="date"
            class="input-field custom-date"
          />
        </div>
        <div class="col-md-4 mt-3" *ngIf="selectedType === 'Egg Sale'">
          <div class="input-label">Egg Tray</div>
          <input
            type="number"
            formControlName="tray"
            placeholder="Enter tray"
            (keydown)="preventDecimal($event)"
            class="input-field"
          />
        </div>
        <div class="col-md-4 mt-3" *ngIf="selectedType === 'Egg Sale'">
          <div class="input-label">Crate</div>
          <input
            type="number"
            formControlName="crate"
            placeholder="Enter crate"
            (keydown)="preventDecimal($event)"
            class="input-field"
          />
        </div>
        <div class="col-md-4 mt-3" *ngIf="selectedType === 'Egg Sale'">
          <div class="input-label">Eggs</div>
          <input
            type="number"
            formControlName="eggs"
            placeholder="Enter eggs"
            (keydown)="preventDecimal($event)"
            class="input-field"
          />
        </div>
        <div class="col-md-12 mt-3">
          <div class="input-label">Note</div>
          <textarea
            class="form-control"
            formControlName="note"
            placeholder="Enter note"
            rows="3"
          ></textarea>
        </div>

        <div class="col-md-12 mt-3 text-end">
          <button
            type="button"
            (click)="salesForm.valid && !itemLoading ? onSubmit() : null"
            [ngClass]="{
              'btn-save': salesForm.valid && !itemLoading,
              'btn-disable': salesForm.invalid || itemLoading
            }"
          >
            Next &nbsp;
            <span
              *ngIf="itemLoading"
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span>
          </button>
        </div>
      </div>
    </form>

    <div class="mt-4">
      <h5 class="bg-teal text-white text-center py-2">REPORT</h5>
      <div class="table-responsive">
        <table class="stocks-table text-center align-middle">
          <thead class="table-header">
            <tr>
              <th class="stock-table-th" style="min-width: 100px">Sr.</th>
              <th class="stock-table-th" style="min-width: 120px">Egg Type</th>
              <th class="stock-table-th" style="min-width: 120px">
                Egg Variety
              </th>
              <th class="stock-table-th" style="min-width: 120px">Price</th>
              <th class="stock-table-th" style="min-width: 120px">Quantity</th>
              <th class="stock-table-th" style="min-width: 120px">Date</th>
              <!-- <th class="stock-table-th" style="min-width: 120px">
                EXPIRY DATE
              </th> -->
              <th class="stock-table-th" style="min-width: 120px">Egg Tray</th>
              <th class="stock-table-th" style="min-width: 120px">Crate</th>
            </tr>
          </thead>
          <tbody *ngIf="salesForm.value.customerId">
            <ng-container *ngIf="!loading">
              <tr *ngFor="let item of salesList; let i = index">
                <td class="stock-table-td">{{ i + 1 }}</td>

                <td class="stock-table-td">
                  <select
                    [(ngModel)]="item.typeId"
                    class="table-td-input"
                    [disabled]="item.isEdit ?? false"
                  >
                    <option *ngFor="let option of types" [value]="option.id">
                      {{ option.type }}
                    </option>
                  </select>
                </td>
                <td class="stock-table-td">
                  <select
                    [(ngModel)]="item.varietyId"
                    class="table-td-input"
                    [disabled]="item.isEdit ?? false"
                  >
                    <option
                      *ngFor="let option of productVarieties"
                      [value]="option.id"
                    >
                      {{ option.type }}
                    </option>
                  </select>
                </td>
                <td class="stock-table-td">
                  <input
                    type="text"
                    [(ngModel)]="item.price"
                    [readOnly]="item.isEdit"
                    class="table-td-input"
                  />
                </td>
                <td class="stock-table-td">
                  <input
                    type="number"
                    [(ngModel)]="item.quantity"
                    (input)="getTotalSaleQuantity()"
                    [readOnly]="item.isEdit"
                    class="table-td-input"
                  />
                </td>

                <td class="stock-table-td">
                  <input
                    type="date"
                    [(ngModel)]="item.date"
                    [readOnly]="item.isEdit"
                    class="table-td-input custom-date"
                  />
                </td>
                <td class="stock-table-td">
                  <input
                    type="number"
                    [(ngModel)]="item.tray"
                    (input)="getTotalSaleQuantity()"
                    [readOnly]="item.isEdit"
                    class="table-td-input"
                  />
                </td>
                <td class="stock-table-td">
                  <input
                    type="number"
                    [(ngModel)]="item.crate"
                    (input)="getTotalSaleQuantity()"
                    [readOnly]="item.isEdit"
                    class="table-td-input"
                  />
                </td>

                <!-- <td class="stock-table-td">
                  <input
                    type="date"
                    [(ngModel)]="item.expiryDate"
                    [readOnly]="item.isEdit"
                    class="table-td-input custom-date"
                  />
                </td> -->
                <td class="stock-table-td d-pointer" style="cursor: pointer">
                  <!-- delete icon -->
                  <svg
                    *ngIf="!item.loading"
                    style="color: red"
                    (click)="showConfirmation(); saleId = item.saleId"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill="currentColor"
                      d="M7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21zm2-4h2V8H9zm4 0h2V8h-2z"
                    />
                  </svg>
                  <span
                    *ngIf="item.loading"
                    class="spinner-border spinner-border-sm"
                    role="status"
                    aria-hidden="true"
                  ></span>
                </td>
                <td class="stock-table-td d-pointer" style="cursor: pointer">
                  <!-- edit icon -->
                  <svg
                    (click)="item.isEdit = false"
                    style="color: #3ba3a5; cursor: pointer"
                    xmlns="http://www.w3.org/2000/svg"
                    width="25px"
                    height="25px"
                    viewBox="0 0 24 24"
                  >
                    <g
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                    >
                      <path
                        stroke-dasharray="20"
                        stroke-dashoffset="20"
                        d="M3 21h18"
                      >
                        <animate
                          fill="freeze"
                          attributeName="stroke-dashoffset"
                          dur="0.2s"
                          values="20;0"
                        />
                      </path>
                      <path
                        stroke-dasharray="48"
                        stroke-dashoffset="48"
                        d="M7 17v-4l10 -10l4 4l-10 10h-4"
                      >
                        <animate
                          fill="freeze"
                          attributeName="stroke-dashoffset"
                          begin="0.2s"
                          dur="0.6s"
                          values="48;0"
                        />
                      </path>
                      <path
                        stroke-dasharray="8"
                        stroke-dashoffset="8"
                        d="M14 6l4 4"
                      >
                        <animate
                          fill="freeze"
                          attributeName="stroke-dashoffset"
                          begin="0.8s"
                          dur="0.2s"
                          values="8;0"
                        />
                      </path>
                    </g>
                    <path
                      fill="currentColor"
                      fill-opacity="0"
                      d="M14 6l4 4L21 7L17 3Z"
                    >
                      <animate
                        fill="freeze"
                        attributeName="fill-opacity"
                        begin="1.1s"
                        dur="0.15s"
                        values="0;0.3"
                      />
                    </path>
                  </svg>
                </td>
              </tr>
            </ng-container>
            <ng-container *ngIf="loading">
              <tr>
                <td class="stock-table-td"><p-skeleton height="40px" /></td>
                <!-- <td  class="stock-table-td" contenteditable="true">{{ entry.quantity }}</td> -->
                <td class="stock-table-td"><p-skeleton height="40px" /></td>
                <td class="stock-table-td"><p-skeleton height="40px" /></td>
                <td class="stock-table-td"><p-skeleton height="40px" /></td>
                <td class="stock-table-td"><p-skeleton height="40px" /></td>
                <td class="stock-table-td"><p-skeleton height="40px" /></td>
                <td class="stock-table-td"><p-skeleton height="40px" /></td>
              </tr>
            </ng-container>
            <tr>
              <td
                colspan="9"
                style="
                  height: 30px;
                  border: none;
                  background: transparent;
                  padding: 0;
                "
              ></td>
            </tr>
            <tr>
              <td class="stock-table-th" style="padding: 10px 0" colspan="2">
                Total Quantity
              </td>
              <td class="stock-table-td">{{ totalQuantity }}</td>
              <td></td>
              <td colspan="6" class="no-border"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <hr class="mt-5" />
    <div class="d-flex justify-content-end gap-4 mb-4" style="margin-top: 20px">
      <button
        (click)="addSalePopupVisible = false"
        type="button"
        class="btn-discard"
      >
        Discard
      </button>
      <button
        type="button"
        (click)="salesList.length > 0 && !addLoading ? editSale() : null"
        [ngClass]="{
          'btn-save': salesList.length > 0 && !addLoading,
          'btn-disable': salesList.length <= 0 || addLoading
        }"
      >
        Save &nbsp;
        <span
          *ngIf="addLoading"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
      </button>
    </div>
  </p-dialog>
</div>
<p-toast />
<app-confirmation-popup
  [visible]="showConfirmationDialog"
  [message]="confirmationMessage"
  (onConfirm)="deleteSale()"
  (onCancel)="handleCancelled()"
>
</app-confirmation-popup>
